[2019-10-20 21:14] GaidamakUA opened #1 "Feature request: Get error message"
I'm working on SQLite game and it wold be nice to be able to access SQL error message.

[2019-10-20 21:49] 2shady4u commented on #1
Hello @GaidamakUA !

I could add a binding to the error message if that would interest you:
https://www.sqlite.org/c3ref/errcode.html

Could you please explain in a little more detail:
- Your use case
- The extent to which you want access to this error? (do you want the extended error code as well?)

Greetings!

[2019-10-20 23:16] GaidamakUA commented on #1
@2shady4u Thanks for reply. This is my game: https://gaidamakua.itch.io/sqlitedetective.
Now, when user does something wrong - I show only "SQL Error" in output. I want output to be more meaningful. I think, string that's printed in console would be enough.

[2019-10-23 10:53] 2shady4u commented on #1
Okay, I'm working on it!
(Give me a few days)

[2019-10-25 18:31] 2shady4u commented on #1
Okay, the latest release now implements this feature.
Could you test it out? It should work without any issue.

[2019-11-03 09:56] GaidamakUA commented on #1
Work like a charm.

[2019-11-03 09:56] #1 closed

[2020-01-18 20:59] dydokamil opened #2 "installation issue"
I'm having an issue trying to install this plugin

Steps to reproduce:
1. Go to Assets Library
2. Install godot-sqlite
3. Press install again, files get put into res://addons
4. Go to Project Settings then Plugins tab
5. Nothing is displayed on the list

Happens on both 3.1 stable and 3.2 RC1

[2020-01-18 21:55] 2shady4u commented on #2
@dydokamil Hello! I'll try to replicate this error as soon as possible. Thank you for reporting. Be warned that I compiled this plugin for 3.1, so there might be issues for 3.2.. everything should work though for 3.1.... I'll get back to this as soon as possible!

[2020-01-21 15:04] 2shady4u commented on #2
@dydokamil I changed the name of the config file, this should hopefully rectify the issue... I'm currently waiting for the change (rename of this file) to be approved by the Godot asset lib.

Will notify you whenever they approve these changes...

[2020-01-25 12:23] b3nnee opened #3 "Request: Any hope for Android support?"
Hi I and quite a few others will find android support very useful for this. Even a hint as to how to get android supported will be most welcome. Thanks for your hardwork.

[2020-01-25 13:13] 2shady4u commented on #2
@dydokamil should correctly work now, could you confirm this?

[2020-01-25 13:15] 2shady4u commented on #3
@b3nnee I tried to get an Android export working a few weeks ago, but failed horribly.
Reason being that android support for GDNative is still extremely finicky at the moment.

I can try this again soon...
However, due to work, I don't have that much time, but I'll try to fix it in somehow.

[2020-01-25 18:44] b3nnee commented on #3
Hi,
Thanks so much for even trying. Will be hoping and praying you succeed next
time you try again.

Your plugin gives me such a huge performance gain over json that I am
willing to wait. Will be trying the module route in the coming days but
GDNative is just so much better.

Cheers and good job once more.

On Sat, Jan 25, 2020, 2:15 PM Piet Bronders <notifications@github.com>
wrote:

[2020-02-04 10:17] #2 closed

[2020-02-15 11:50] splash21 opened #7 "Support for godot linux server?"
I added an entry for 'Server' in the gdnlib file, pointing to the X11.64 lib

Running linux server, all I get is "--> SQL error:" with no error message every time I run a query.
The same code runs fine on headless.  Is godot server supported?

[2020-02-15 12:27] 2shady4u commented on #7
@splash21

This addon supports linux, windows and macos (and hopefully android in the future when they finally fix the issues on the godot-cpp bindings branch)

Linux works, but I dont think headless or server variants of the plugin will actually work by just using the linux build as a substitute... since there's no way to compile the godot bindings for the headless variant, I am afraid we'll have

[2020-02-15 12:46] 2shady4u commented on #7
on second read-through, im actually amazed that it works on headless :ok_hand:

[2020-02-15 15:25] splash21 commented on #7
Wrapper works very nicely with headless (great work) .  The project starts up with no complaints using linux server with a .pck file - querying just doesn't work (bummer!)  I was hoping it was just something that needed a tweak...

[2020-02-16 14:49] 2shady4u commented on #7
@splash21 I had a small discussion with some Godot experts, and they told me compiling for Linux Server should be quite easy but requires the recompilation of the bindings with an update api.JSON.
I haven't tested this yet, but the process would be something like this:

1. Download "Godot Server" build from the official website.
2. Generate a custom api.JSON using this build:
`_path-to-godot-serve

[2020-02-16 14:52] 2shady4u commented on #3
@b3nnee @GaidamakUA just a small update regarding the Android and iOS builds.
I'm currently in contact with the main devs of the 'godot-kotlin' repository and I am porting
godot-sqlite to their framework.
This should allow for easy android and iOS builds whenever my port is finalized.

This repository (godot-sqlite using the C++ bindings) will still be updated and supported, but won't receive any

[2020-02-16 16:02] b3nnee commented on #3
Great job. Thanks!

On Sun, Feb 16, 2020, 3:52 PM Piet Bronders <notifications@github.com>
wrote:

[2020-02-19 09:39] splash21 commented on #7
Thanks, @2shady4u  - appreciate the response.  I'll give it a try  👍

[2020-04-01 17:35] avencherus opened #8 "Trouble with the print statements, and lack of error codes."
Thanks for the work on this.  I have been having some issues with using it.

For example in a tool/debug build doing a loop for 50,000 inserts (lots of log data in my case), I get 100,000 print statements.

...

Is another approach intended here?  Some of these prints seem unnecessarily verbose.  Returning error codes instead of true/false would be more flexible for the end user.

It would be nice

[2020-04-01 19:13] 2shady4u commented on #8
Hello!

Is your 'verbose_mode'-variable disabled? When setting 'verbose_mode' to false, these prints should not appear anymore. Only failures/errors/crashes will get displayed in that case.

[2020-04-02 15:41] avencherus commented on #8
Thanks, yes that does help.  I see now, I had copied the boiler plate pieces from the demo and missed that line.

[2020-04-02 15:41] #8 closed

[2020-04-15 08:06] sesenta opened #9 "how could i do a query with "where var=string"?"
func login(usuario:String,password:String):

output:
 --> SQL error: near "=": syntax error

cause query needs ", but godot too use it

PD: thanks so much for this asset

[2020-04-15 10:42] 2shady4u commented on #9
Hello!

You should be able to use single quotes ' in that case.
which would look as follows:
`db.query("SELECT user FROM '" + table_name + "' WHERE user='" + usuario + "';")`

or if using the format string method:
`db.query("SELECT user FROM '{0}' WHERE user='{1}';".format([table_name, usuario]))`

[2020-04-18 00:45] sesenta commented on #9
worth!, thank you

[2020-04-18 00:45] #9 closed

[2020-04-21 10:59] 2shady4u commented on #3
@jimsrobot thanks for the bump/request 😄

Currently my hands are tied until the guys at https://github.com/utopia-rise/godot-kotlin finish their release. After that I can start finalizing the Android build at https://github.com/2shady4u/godot-sqlite-kotlin

I'll keep everyone updated on any developments...

[2020-04-29 03:58] LightningStorm0 opened #10 "I can't create SQLite functions"
I need a square root function for SQLite but since one isn't built-in I need to create one. There are ways to add functions in SQLite for python and it would be a really useful feature.

Is this functionality already implemented and I just missed it? If not could it be added?

Adding a sqrt() function in regular SQLite: https://stackoverflow.com/questions/12731941/how-to-calculate-square-root-in-s

[2020-04-29 12:02] 2shady4u commented on #10
Hello! I'll look into it :)

[2020-05-05 10:26] 2shady4u commented on #10
@LightningStorm0 This seems viable to do, I'm still testing it but will get there once I have some more time.

Some questions:
- What OS are you using?
- Could you explain me your use-case? Meaning: why do you need this square-root? If I understand your use-case more concretely, I'll be able to suit this feature to your exact needs.

Greets!

[2020-05-05 16:35] LightningStorm0 commented on #10
I’m using Windows 10.

I’m experimenting with a primarily database driven RTS game (to make certain things more performant). I thought I needed the square root function to get the list of ships within range for each ship. (I ended up using the distance formula without the square root and squaring the range to check if the enemy ship was in range)

[2020-05-08 01:31] sesenta opened #11 "hi, how could i avoid my export generate db?"
when i export i must replace auto-generate db with my db, is possible avoid executable generate a new db?

thanks

[2020-05-09 12:20] 2shady4u commented on #11
Hello!

I'm unsure what you are actually asking? 🙈 If I understand it correctly:
1. You export your game
2. You run your game and it creates a new db?
3. You have to copy-paste your own db?

Please clarify 🤣

[2020-05-09 23:32] sesenta commented on #11
hahaha thanks so much for your answers, and yes your 3 points are correct and sorry my english xD.

i'm not creating the db by code instead i'm using **DB browser for sqlite**, Then if is possible when i run my game don't create a new empty Database will be great.

Is nothing in code creating DB but in assets is a DB copy filled, but when i export that database is empty, then i need replace it man

[2020-05-13 10:58] 2shady4u commented on #11
mmmh

Normally when the plugin already finds an existing DB it won't overwrite it with an empty one.
In your case, does the plugin overwrite yours?

Apologies, I'm still a bit confused what is actually happening 🤔

[2020-05-16 01:05] sesenta commented on #11
[https://youtu.be/Z03TwOPw__A](url) i made this little video XD

[2020-05-17 12:39] 2shady4u commented on #11
Thanks for the video 😄

So what you can do is the following:
- Add the  'users.db' to the "Filters to export non-resource files" field in the export settings. This should make Godot copy your database to the build folder as well.

[2020-05-17 21:01] radishes opened #12 "SQL errors when I change anything in the module and recompile"
Hi, thank you for writing this plugin. I've been having fun with it.

When I use the official release of the plugin from the Asset store, it works fine. When I pull down the master branch and build master myself, and copy `demo/addons/godot-sqlite` from the build into my project, the plugin works fine.

But when I make any code changes and compile, and try to use my compiled plugin, I frequently g

[2020-05-17 23:00] 2shady4u commented on #12
hello, I see that you are compiling this on Windows right? What version of Visual Studio are you using? Those warnings about conversions between double and real_t cam be ignored (they are godot-cpp related, nothing i can do about them. Is your database using utf8?

[2020-05-17 23:06] radishes commented on #12
That's right, this is on Windows. I'm using Visual Studio 2019 Professional. My database was created by the plugin itself. There shouldn't be any utf-8 encoded values in it. I'm also setting these: `PRAGMA synchronous=1; PRAGMA journal_mode=WAL;` but in my testing I have the same issues with or without these PRAGMAs.

[2020-05-18 06:27] radishes commented on #12
[repro-sqlite.zip](https://github.com/2shady4u/godot-sqlite/files/4642327/repro-sqlite.zip)

I have created a repro that demonstrates what I'm seeing. Inserting always works fine, but the repro usually crashes while selecting rows -- but only when selecting more than one row at a time. Replacing my `addons/godot-sqlite` with the official one fixes the problem. The only changes in my build are here

[2020-05-18 09:55] 2shady4u commented on #12
Hello! I do think it has something to do with discrepancies between Visual Studio versions.
For reference, I'm using VS2017 Community to compile the plugin.

I downloaded your repro-sqlite.zip and ran the `database.gd` file in the demo-project but didn't see any errors? Does the `database.gd`-file run in your case? If yes, could you give me a GDScript script that throws these errors? I'll need som

[2020-05-18 16:01] radishes commented on #12
Thank you for taking a look at this. I tried VS2017 Community and got the same result. My database has only English language ASCII characters in it. I ran my repro project with the VS2019 compiled version you uploaded and it still crashes.

The repro project I uploaded has a `Start.tscn` that reproduces the problem for me. In this repro, it usually doesn't throw errors, but it does crash the game.

[2020-05-19 11:17] sesenta commented on #11
thanks you, solution above don't work :C [https://youtu.be/R4gtuB2Af4M](https://youtu.be/R4gtuB2Af4M)

**but this is not really a problem, only a little bit annoying .**

before close the issue can you answer to me this:

i'm making a mmo game, so i need in the future set server with godot headless or godot server, it works perfectly in normal projects; but has errors if project use gdnative, the

[2020-05-20 15:45] 2shady4u commented on #12
Heyo, I don't know **why** this exactly happens...

But I do know **how** you can fix it:
Change your condition from:
`var condition = "'number >= {0}' AND 'number < {0} + {1}'".format([i, step])`
to:
`var condition = "'number >= {0}' AND 'number < {0} + {1}'".format([i, step])`

As discussed here:
https://stackoverflow.com/questions/19323922/sqlite-unrecognized-token-exception-in-insert/19324035

[2020-05-20 15:55] 2shady4u commented on #11
Hey :)

You'll need to add a wildcard * to the export-field, like this:
![Capture](https://user-images.githubusercontent.com/42484461/82467728-46c6fb80-9ac2-11ea-9373-0e94acaf1f50.PNG)
Otherwise it won't find your users.db

**Regarding the headless and server versions**, you'll have to add those entries to the gdsqlite.gdnlib:
https://github.com/2shady4u/godot-sqlite/blob/master/demo/addons/godot-

[2020-05-21 10:30] sesenta commented on #11
**Server and Headless work perfectly, i'm so happy <3, could you add that same lines in github maybe for anyone  who also needs it?**

but *.db don't work xD

is weird than i execute the game and  the empty database is generate. because my code is only like this:

[code]
and
[code]
but is not a problem, i can replace the db or even having a copy db in the folder where my executable is generated an

[2020-05-28 18:04] #11 closed

[2020-05-28 18:16] 2shady4u commented on #11
Hello! I see you closed this :)
I do have one more question though:
Could you just show me the statement necessary for the Headless build?
Is it just this?

[code]

So I can add this in a future release :)

[2020-06-15 22:25] gabriel-del-nardo opened #13 "error reading timestamps with milliseconds"
when a timestamp is saved like 1592258339000 as an integer and then consulted the resulting variable in godot looks something like -1174527816 as if it was wrapping around the number.

- when consulted using db browser it behaves as expected.

- works fine if you use only seconds.

- writing the timestamp directly into a variable or consulting from an api works fine with the milliseconds format.

[2020-06-16 11:03] 2shady4u commented on #13
Hello @gabriel-del-nardo

I thought I already fixed this issue a loooong time ago 🤔
But it seems not?

So when I go through my code I see that I did the following:
`column_value = Variant((int)sqlite3_column_int64(stmt, i));`

which seems correct at the time but maybe I'm doing something wrong here 🤔

So the number you get corresponds to the one you would get if you did following calculation:
`159

[2020-06-16 12:54] gabriel-del-nardo commented on #13
[timestamp test.zip](https://github.com/2shady4u/godot-sqlite/files/4786686/timestamp.test.zip)
here, just add the addon and run

[2020-06-16 13:16] 2shady4u commented on #13
@gabriel-del-nardo  Just tested it and indeed I get the same bug.
Checking out solutions now...

[2020-06-16 13:23] 2shady4u commented on #13
Okay I fixed it by change the (int) to an (int64_t) cast

`column_value = Variant((int)sqlite3_column_int64(stmt, i));`

to:

`column_value = Variant((int64_t)sqlite3_column_int64(stmt, i));`

If I may ask: **What platform are you on?** Cause I won't be able to compile for mac immediately, but could immediately give you the DLL is you are using windows.

[2020-06-16 13:29] gabriel-del-nardo commented on #13
i'm on linux but i's ok, ill change the line and recompile

[2020-06-16 13:30] 2shady4u commented on #13
okay! :D Tell me if it doesn't work!

[2020-06-16 13:32] #13 closed

[2020-06-17 15:38] 2shady4u commented on #10
Heyo @LightningStorm0

I don't think this is relevant for you anymore, but I added the ability to bind scalar functions from Godot to SQLite queries 😄
It is available in the master-branch and I've also added an example to the `'database.gd'`-file.
I will do some more testing and, if satisfactory, will do a new release containing this feature.

Afterwards, I'll close this issue as well (or you can

[2020-06-17 16:06] 2shady4u commented on #7
I added the Server and Headless entries in the .gdnlib and tested a Headless and Server Godot build with the linux exported .so.

Seems to work fine except for the fact that the database .db has to be deleted otherwise I get SQL query errors: "Cannot write a read-only database"

Will investigate...

[2020-06-18 18:41] #12 closed

[2020-06-25 04:27] charlesrwest opened #16 "Inserting Blobs?"
Hello!

Thank you guys for making this project!  I got really excited when I saw it because it looked like I could use it to export training data from Godot in my SQLite3 based exchange format.

I've run into a bit of an issue, however.  I need to export serialized screenshots as SQLite3 Blobs, but it looks like the current code converts everything into a string before submitting it.  This results

[2020-06-29 09:44] 2shady4u commented on #16
Hello @charlesrwest !

Indeed, at the moment it is a bit tricky to insert raw data into the database using Godot-SQLite.

The way to do it would be (haven't tested, but should work in theory):
`Connection.insert_rows("Images",` [{"ImageId": NextImageId, "RunId": entry.RunId, "Timestamp": entry.Timestamp, "Data": entry.Data.get_string_from_utf8(), "EntryAddedTimestamp": add_time}])`

This then uses

[2020-06-30 02:35] charlesrwest commented on #16
Hello @2shady4u !

It turns out that doing it the original way not only doesn't store the binary data but stores a TEXT value inside a column that is suppose to be binary (causing problems for the C++ reading code).  I was able to mostly get around the issue by using the "query" function directly and marking/converting the binary data to a hex encoding.

`		var insertion_string = "INSERT INTO Imag

[2020-07-05 12:11] 2shady4u commented on #16
hello, I dont think the select rows function can support this functionality... you are better off just making your own query then and calling it using the query function.

Sorry for my absence/delay in response, Ive been buried in work lately.

I see you found a way around the poolbytearray limitation? is it working in a satisfactory fashion?

[2020-07-05 20:01] charlesrwest commented on #16
Hello!  No worries, things are fairly crazy for everyone just now.

That is what I ended up doing.

The hex work around is inefficient, but seems to be working OK for now.  Thanks.

[2020-09-21 14:09] hexamon opened #18 "Request: Implement GeoPackage"
### **What is it?**

GeoPackage is a spatial extension of SQLite. This allows for storing and querying data in a spatially intelligent way. It is used by GIS (Geographical Information System) software packages for a wide variety of purposes. Things that can be stored are for example building geometries, aerial photography, points of interest, land use, etc etc.

[GeoPackage.org](https://www.geopac

[2020-09-21 21:29] 2shady4u commented on #18
Well.. I'm for sure interested in such a format, It's just that I don't really know if:
A. I will have time to implement such a thing 🤔 I currently am a bit short on time 😖
B. If all gdsqlite users will have need of a geopackage implementation? Maybe this might be better done in a different repo with a different target audience? I mean, I could fork godot-sqlite and do this if this is the way to d

[2020-09-22 07:18] hexamon commented on #18
Thanks for your reply!

As for...
A. Totally understand that. I mainly wanted to write this down so it's there if you or anyone else has time and interest.
B. Most users probably wont have a use for GeoPackage functionality. However, it would in my view be extremely powerful in a select set of cases.

The main point would be to allow for large, hand crafted open worlds. Since GeoPackage is basical

[2020-09-23 16:30] 2shady4u commented on #16
I was able to get inserting and loading blobs to work 🤔
You can check it out on the '_blob-testing_'-branch.
Dunno if you still need this feature, but I'll see if I can fully implement it.

The stored texture in SQLiteStudio:
![Capture](https://user-images.githubusercontent.com/42484461/94030602-4a46f800-fdbe-11ea-8d26-abd921a2e682.PNG)

The original texture on the left, and the loaded texture on

[2020-09-23 16:35] 2shady4u commented on #18
Very interesting 🤔

Just a small question: I would expect these assets to be stored in the SQLite databases as BLOBs for maximum efficiency?
Is this correct? And if yes, I'm still in the (slow) process of implementing support for BLOBs in the bindings. (see the [blob-testing](https://github.com/2shady4u/godot-sqlite/tree/blob-testing) -branch)

Second small question: How adept are you in using the

[2020-09-23 17:51] hexamon commented on #18
Correct, the contents of the geometry column is stored as BLOB.

[GeoPackage spec](http://www.geopackage.org/spec/):

_Geometry encoded as per clause Geometry Encoding. <geometry type_name> is one of the core geometry types listed in Geometry Types (Normative) encoded per clause 2.1.3 or a geometry type encoded per an extension such as GeoPackage Non-Linear Geometry Types. Geometry Types XY, XYZ,

[2020-10-07 14:05] charlesrwest commented on #16
It's no longer needed for that project (I eventually implemented my own cpp plugin so I could reuse a bunch of my existing code) but I have a new gd script project it would be really handy for (requires storing/retrieving audio samples).  Thanks!

[2020-12-09 04:24] nightblade9 opened #19 "Documentation for auto-increment"
Hi! First, thanks so much for producing this package, it works really really well!

Second, could I bother you to add documentation for auto-increment columns into the README somewhere? I searched the code and found how it works.

For anyone reading this later: your column definition includes `"primary_key": true` and `"auto_increment": true` (without the primary key, you get an error).

[2020-12-12 14:11] 2shady4u commented on #19
Hello! Sorry for taking a while to get to you!

If I'm correct in understanding your issue, adding an `"auto_increment": true` field to the column dictionary fails when the **primary_key** is not added (and thus implicitly set to _False_) as well?

A possible solution for me would be to automatically set the **primary_key** variable to _True_ whenever the **auto_increment** variable is found to be

[2020-12-15 15:36] nightblade9 commented on #19
I think the code is fine as-is - if you try to set `auto_increment` without setting `primary_key`, you see some sort of error. That's fantastic.

All I'm suggesting is that you add something to `README.md` that includes `auto_increment`, so anyone who quickly wants to look up the usage can see an example (which also sets `primary_key`). That way, the usage will be obvious.

[2020-12-19 16:46] 2shady4u commented on #19
@nightblade9 Hello! I finally found some time to expand the documentation a wee bit.

If possible, could it be possible to read the stuff I added and give your constructive criticism on this addition to the README?

[2020-12-19 21:49] 2shady4u commented on #19
Okay! Thanks for your suggestion! :)

[2020-12-19 21:49] #19 closed

[2020-12-24 21:04] 2shady4u commented on #3
@jimsrobot @b3nnee Better late then never!

Android and iOS support is now available in the lastest release! 🥳

[2020-12-24 21:04] #3 closed

[2020-12-25 14:35] b3nnee commented on #3
Truly, 'tis really better late than never. Great job!

Thanks for all the work you put into it.

On Thu, 24 Dec 2020, 10:04 pm Piet Bronders, <notifications@github.com>
wrote:

[2020-12-31 05:18] finepointcgi opened #20 "Attempted to call function new in base native script on a null instance"
When running the demo project i get
![image](https://user-images.githubusercontent.com/12012300/103395733-ab891080-4afd-11eb-8f32-8bd41127987e.png)
as an issue when i attempt to run new(). It looks like the new function is missing?

I also am getting this with my own project, however I am not getting it with 1.7.

[code]

Thanks,
Mitch

[2020-12-31 09:25] 2shady4u commented on #20
Hello @mitchelldmccollum

It seems that is due to the fact that I am creating libraries exported in debug mode instead of release mode.
I'll update the libraries to the release target and I'll see if the problem persists.

In fact it is quite similar to this:
https://github.com/godotengine/godot-git-plugin/issues/9

Greetings! And apologies for this bug!

[2020-12-31 09:36] 2shady4u commented on #20
Okay, seems that switching to the release target does the job, I'll update build scripts and will have to push an update to the asset library.

Thanks for catching my error! I'll close this whenever the guy/gals at the asset library accept the new version!

[2020-12-31 11:50] 2shady4u commented on #20
I updated all binaries with their release equivalent and hopefully this should fix the issue... (it does on my end!)

We'll have to wait a few days for the asset library update to be approved though 🤷

[2020-12-31 13:11] mitchelldmccollum commented on #20
No problem thanks for fixing it so quickly! I just put a video out on this library and sqlite and I has someone message me saying it was broken!

[2020-12-31 13:59] 2shady4u commented on #20
A bit of an inconvenient time for me to break it then 😞

Now you made me curious; is that video available for public?

[2020-12-31 14:18] finepointcgi commented on #20
Yes it is publiv, however Im not going to tell  you to add it to your repo unless you want to. I dont go though all the options mainly just insert and run query.
https://www.youtube.com/watch?v=HG-PV4rlzoY

[2021-01-03 03:23] finepointcgi commented on #20
I have downloaded the newest version and it does work now! I will close this issue!

Thanks,
Mitch

[2021-01-03 03:23] #20 closed

[2021-01-04 02:45] MrSmite opened #21 "Support for full SQL?"
There is [another godot-sqlite project](https://github.com/khairul169/gdsqlite-native) on github that supports full SQL such as _CREATE_DATABASE_, _CREATE_TABLE_, and _Prepared statements_. Problem is that project hasn't had any activity for two years.

I looked through your code and examples but don't see any indication if your library supports standard SQL or if it is limited to using dictionari

[2021-01-04 08:59] 2shady4u commented on #21
If by "standard" SQL you mean if this project supports the use of directly querying with strings, then the answer is yes.
The convenience "wrapper" functions such as (for example) `create_table()` and `insert_row()` can also be fully realized by writing the query yourself.

**Example A:**
[code]

**_is (or should be) fully equivalent to:_**
[code]

**Example B:**
[code]

**_is (or should be) fully

[2021-01-04 12:55] Airoswag opened #22 "Struggling Coder"
Hey, I am trying to make a game incorporating the sqlite, but it appears there is an issue with the second to last line in the last function called savescore, here is the entire code for the script, this is my first time sharing in github so Im not sure how else to present it.
extends Node

const SQLite = preload("res://addons/godot-sqlite/bin/gdsqlite.gdns")
var db
var db_name := "res://data/test

[2021-01-05 07:00] MrSmite commented on #21
Great, thanks. I guess "standard SQL" wasn't really a good choice of words  :) I was referring to SQL such as INNER JOIN, UPDATE, DELETE ... etc.

There is a fork of the repo I linked earlier that provides encryption using sqlite_key3() operations to open the database with a password. I noticed the user has an older version of the sqlite3 header (3.31) and in yours (3.34), sqlite_key3() does somet

[2021-01-05 07:01] #21 closed

[2021-01-05 09:34] 2shady4u commented on #22
Hello @Airoswag

Easiest way to correctly format code is to use three backticks ``` before and after the code, like this:

\`\`\`gdscript
func _ready():
  cprint("Under Construction")
  var newscore = PlayerStats.score
  print(newscore)
  var stringscore : String = String(newscore)
  cprint("Previous Score: "+stringscore)
\`\`\`

This will end up looking like this:

[code]

The *gdscript* tag tell

[2021-01-05 09:44] 2shady4u commented on #21
@MrSmite

All SQLite query syntax should be available by directly using the _query()_-function. If there are important commands that are failing to execute please do open another issue.

I've looked into encryption at some point because some users (such as you right now) were requesting it.
I think (it has been a while) that I went through a few of them before concluding that it **wasn't** a simpl

[2021-01-05 09:47] 2shady4u commented on #21
SQLeet seems to be the best candidate to implement at some point:
https://github.com/resilar/sqleet

(Putting this here, mostly for my future self)

[2021-01-05 16:36] Airoswag commented on #22
1. I am using Windows
2.  3.2.3 Stable I believe
3.
![image](https://user-images.githubusercontent.com/71433384/103672307-085c4f00-4f74-11eb-84aa-3b852b0bacd2.png)
4. The game file is waaaaaaay too big, but basically the player stats just stores a score so you can sub 0.

[2021-01-05 17:23] 2shady4u commented on #22
Okay @Airoswag , it seems that you didn't open your database before creating the tables and that is most likely the cause of the error. Also are you sure the "data/"-folder exists? If the data-folder doesn't exist, the plugin won't be able to open or create the database.

[code]

So:
- Make sure that the "res://data/"-folder actually exists. Because the plugin won't create this folder (will probab

[2021-01-06 02:07] MrSmite commented on #21
Considering sqleet is public domain, wouldn't it be possible to merge a clone of that repo with your project?

[2021-01-06 11:48] 2shady4u opened #23 "Add database encryption/decryption"
As requested by @MrSmite and many others, database encryption/decryption seems to be a much requested feature.

Work on this feature will be done on following branch:
https://github.com/2shady4u/godot-sqlite/tree/godot-sqleet

Contained on this branch is a minimum (and rudimentary) viable product using [SQLeet](https://github.com/resilar/sqleet).
Work on this feature will resume after other priori

[2021-01-06 20:03] 2shady4u commented on #18
Dropping this here for later reference:
https://github.com/boku-ilen/geodot-plugin

[2021-01-07 02:54] MrSmite commented on #23
For people who may want to compile this branch, here is an important note from **sqleet** of a use case where opening the database will fail even if the password is correct. This feature can be disabled at compile time.

[code]

[2021-01-07 20:59] weezixx opened #24 "How to modify the database using variable ?"
Hi !

I'm making a game with a lot of words.

The "game" for the moment is to select a random line, and the player has to select the correct translation.

If the player is right, I need to change a value in my db based on the random line.

Ex : randomline = 5

      db.query("UPDATE words SET trials = 1 WHERE id = ?",randomline)

How may I do that with your module ?

Here my request on the website

[2021-01-07 22:36] 2shady4u commented on #24
Hello!

Parameter bindings are coming in the next major release in which you'll hopefully be able to do that exact thing.
At the moment however, you should be able to do it yourself by modifying your query as such:

[code]

or equivalently:

[code]

[2021-01-07 22:45] weezixx commented on #24
Amazing ! This is my X-mas gift !

Thank you very much !

Stay safe

[2021-01-07 22:50] 2shady4u commented on #24
Behaviour in upcoming major release should behave like this:

[code]

(This is a brand-new function that is not available in the current version)

You can check out the beginnings of this release here:
https://github.com/2shady4u/godot-sqlite/tree/feature-add-blobs

[2021-01-08 08:56] bitmammoth opened #25 "Output verbosity arguement"
EDIT: Found the solution :)

thank you for the addon and work you have done it's really great!

[2021-01-08 08:59] #25 closed

[2021-01-09 18:56] Airoswag commented on #22
Thank You So much, it appears to work now, the issue was with the folder, it never existed and once I made it, it worked.

[2021-01-09 18:56] #22 closed

[2021-01-11 21:27] CitrusWire opened #26 "Last Insert ID"
Nice; thanks for this.

It'd be useful if you could expose the `sqlite3_last_insert_rowid` method

https://www.sqlite.org/c3ref/last_insert_rowid.html

Ideally not just via the .insert binding as I don't use that. Probably another property like `query_result`?

[2021-01-11 21:43] 2shady4u commented on #26
Hi @CitrusWire

I'll look into it.

For clarity's sake would it be possible to give me an example on how this could be used (in GDscript)?
Should the value be reset after each query? Or should the query leave this variable untouched if the query fails?
(And thus only modify this variable if the query is succesful?)

Some further explanation regarding this function's application would help me immen

[2021-01-11 21:59] CitrusWire commented on #26
Hello!

I have no particular plans for it in GDScript (just started) but I've used it extensively with database stuff in the past. It's common to use the database Primary Key as a unique ID for an Object, so you create the object, then INSERT it, then get the ID back which can be assigned to the Object to give it its unique ID. As a bonus, you know that if it has an ID, it must be in the database.

[2021-01-12 14:45] CitrusWire opened #27 "[Optimisation] Transactions"
I'm not into C++, but looking at the code, it doesn't seem like you're using transactions.
Certainly I'd suggest wrapping `insert_rows`, `update_rows`, `delete_rows` inside a transaction:

https://www.sqlite.org/lang_transaction.html

Just park a BEGIN in front of it and a COMMIT after it. Use ROLLBACK for if any of them fail.
Otherwise SQLite autocommits after every statement; this speeds it up -

[2021-01-12 14:46] CitrusWire opened #28 "[optimisation] - transactions"
I'm not into C++, but looking at the code, it doesn't seem like you're using transactions.
Certainly I'd suggest wrapping `insert_rows`, `update_rows`, `delete_rows` inside a transaction:

https://www.sqlite.org/lang_transaction.html

Just park a BEGIN in front of it and a COMMIT after it. Use ROLLBACK for if any of them fail.
Otherwise SQLite autocommits after every statement; this speeds it up -

[2021-01-12 14:46] CitrusWire commented on #28
Sorry, git gave me a 404 after I first submitted so I thought it hadn't gone through.

[2021-01-12 14:46] #28 closed

[2021-01-12 15:57] 2shady4u commented on #27
Hello @CitrusWire

This is a good suggestion.
At the moment you can use following work-around:

[code]

There might be cases when you DONT want to all of your inserts to be ONE big commit...
But I guess in that case you could then just use a for-loop in gdscript and call insert_row() one a a time?

I'll have to think about this one, since there is an easy work-around and having this behaviour by d

[2021-01-12 16:04] CitrusWire commented on #27
Yep, definitely easy to work around, but most people don't have the level of SQLite knowledge to know about it (especially not game devs) and it's an easy optimisation win, so personally I'd suggest this be the default.

I'm not sure I've ever come across any scenarios where I didn't want all my stuff to be ran at once. That's generally the preferred way you want databases to run and it's a core t

[2021-01-13 23:25] 2shady4u commented on #27
Did some small tests to see the difference in performance. All with inserting 1000 rows with random integers as data.

These are the results:

**A. insert_row() WITHOUT transactions:**

[code]

elapsed times (tested 3 times):
19215 ms
23271 ms
22336 ms

**B. insert_rows() WITHOUT transactions:**

[code]

elapsed times (tested 3 times):
22754 ms
23051 ms
20423 ms

**C. insert_row() WITH transaction

[2021-01-22 14:25] CitrusWire commented on #27
Cool stuff. Be sure to add it for `delete_rows` and `update_rows` as well.

[2021-01-24 19:27] 2shady4u commented on #27
I've added transactions to the `feature-add-blobs` branch (which might need to be renamed to `develop`):

08390ee9d320497bf81dd54574b40e2bc64c097c

So next release will have transactions by default for the suggested functions.

[2021-01-24 20:00] 2shady4u commented on #26
@CitrusWire has also now been added to following commit:

a7b78c141be6d0a3fc163d737ff9a0c523a35244

Thus it will be part of the next release!

[2021-01-25 00:10] 2shady4u commented on #23
Added SQLeet as a submodule and did a proper definition of the SQLITE_HAS_CODEC flag.

[2021-01-25 01:51] MrSmite commented on #23
Thanks for the update. I haven't had much chance to test it though but it looks promising.

[2021-01-26 23:32] 2shady4u commented on #27
Implemented/resolved in version 2.1 as found in the [releases](https://github.com/2shady4u/godot-sqlite/releases/tag/v2.1) tab.

[2021-01-26 23:32] #27 closed

[2021-01-26 23:32] 2shady4u commented on #26
Implemented/resolved in version 2.1 as found in the [releases](https://github.com/2shady4u/godot-sqlite/releases/tag/v2.1) tab.

[2021-01-26 23:32] 2shady4u commented on #24
Implemented/resolved in version 2.1 as found in the [releases](https://github.com/2shady4u/godot-sqlite/releases/tag/v2.1) tab.

[2021-01-26 23:32] #24 closed

[2021-01-26 23:33] 2shady4u commented on #16
Implemented/resolved in version 2.1 as found in the [releases](https://github.com/2shady4u/godot-sqlite/releases/tag/v2.1) tab.

[2021-01-26 23:33] #16 closed

[2021-01-27 21:28] Thebas opened #29 "Add FTS5 Support"
https://www.sqlite.org/fts5.html

[2021-01-27 21:36] 2shady4u commented on #29
I'm going to need some more information than just a link.

- Why would this be useful in your case?
- Why would this be useful for users in general?

[2021-01-27 21:50] Thebas commented on #29
:D I believe it is useful because it allows the users to implement efficient "Full Text Search" functionality with very little effort. It is a default module that comes with sqlite (strange it is not available already).

For instance, I have a table of elements(Workout exercises) and I want to find all that work my "Chest".
With this module, I just have to create a virtual table using FTS5 and que

[2021-01-27 22:36] 2shady4u commented on #29
Small test I was intending to do is not complying 🤔

![image](https://user-images.githubusercontent.com/42484461/106063094-fba4c400-60f7-11eb-8937-7a85e03f90f8.png)

According to the docs simply defining the pre-compiler symbol `SQLITE_ENABLE_FTS5` should do the job, but that doesn't seem to be the case... 🤷‍♂️

![image](https://user-images.githubusercontent.com/42484461/106063441-78d03900-60f8-11

[2021-01-28 08:36] Thebas commented on #29
I think it requires recompilation, is that what you tried?

https://sqlite.org/amalgamation.html

Sorry if it's a stupid question.

[2021-01-31 11:22] 2shady4u commented on #29
After a little bit more messing around I was able to get the code to properly compile (was easy in hindsight)
I've pushed the changes to this branch:
https://github.com/2shady4u/godot-sqlite/tree/fts5-test

You can download the DLL on that branch (demo/addons/godot-sqlite/bin/win64/libgdsqlite.dll) and try it out yourself.

However, this feature won't be merged into master since it is, in my opini

[2021-01-31 13:06] Thebas commented on #29
Thank you!
I understand why you see it as non-essential.

Did you only update it for the windows platform?
I'm exclusively working on Linux and exporting to Android.

[2021-01-31 14:04] Thebas opened #30 "[Suggestion] Instead of having a script to copy data to the build folder(android)"
Instead of : https://github.com/2shady4u/godot-sqlite#how-to-export
One can add the folder to the resources in the export screen. Like so:

![image](https://user-images.githubusercontent.com/5076514/106386420-2c754980-63d5-11eb-87b8-d8f8d4ecdde9.png)

[2021-01-31 14:07] 2shady4u commented on #29
I've pushed the branch to Github Actions, so you can download the libraries there (once CI is finished) and replace them in your project:

MacOS:
https://github.com/2shady4u/godot-sqlite/actions/runs/525376661

Linux:
https://github.com/2shady4u/godot-sqlite/actions/runs/525376663

Windows:
https://github.com/2shady4u/godot-sqlite/actions/runs/525376664

Android:
https://github.com/2shady4u/godot-

[2021-01-31 14:29] Thebas commented on #29
Perfect! Thank you again!

[2021-02-01 12:32] 2shady4u commented on #30
Small disclaimer: This part of the README is horribly old and I've been wanting to rewrite it after I implement a proper virtual file system so databases can be accessed inside of the PCK.

Now, I might be wrong, but exporting the files/folders in that way won't work. The database will packaged (by Godot) into the PCK-archive after which the SQLite bindings won't be able to access the database any

[2021-02-01 13:19] Thebas commented on #30
Yes, I've been working with it!
We still need to keep the check to copy the data to the user:// folder.
This change only removes the need to copy stuff by script into the build folder.

[2021-02-01 14:01] 2shady4u commented on #30
So as long as you indeed copy the database to the user:// this will indeed work.

In cases where you don't want to copy the entire database and the database thus remains somewhere in res://, this won't work. (YET)

[2021-02-01 16:25] Thebas commented on #30
Odd. I'm testing locally(linux) and it works fine.

[2021-02-01 16:26] Thebas commented on #30
Oh! you mean Android + res://!
Ok, I confirm it doesn't work.

[2021-02-01 16:32] Thebas commented on #30
My suggestion is: Remove the export_data.gd and associated explanations in the Readme as it is not needed if you substitute them by this property shown in the screenshot.
IMHO it is more elegant and less cumbersome.
The final decision is yours tho.
:)

[2021-02-01 23:36] usertodog opened #31 "GDSQLite Error: Can't make necessary folders for path (ERROR = 2)"
Hi. I'm new to Godot and to godot-sqlite. Thank you for creating this gdnative library.  I downloaded the latest and compiled successfully for Windows and Android. When using the libraries with the demo in Windows, everything seems to work fine, but when exporting it to Android (using emulator with android 10.0 from Android Studio), the demo test I did had some problems.  Here's a snippet of what

[2021-02-02 09:51] 2shady4u commented on #30
I'll have to do some tests for this, I'll get back to you with whatever I come up with.

[2021-02-02 09:57] 2shady4u commented on #31
Hello @usertodog

Thanks for submitting this issue!
Some more questions to better isolate the issue:

- What is the value of the path variable you are using?
- Did you try this out with the demo-project? (without recompilation and just exporting the demo-project to Android?)

[2021-02-02 09:59] 2shady4u commented on #29
I'm leaving this issue open (for now) for all future users that want to make use of FTS5

[2021-02-02 15:20] usertodog commented on #31
For my demotest project, I was using these paths for Android:

db_name = OS.get_user_data_dir() + "/test"
json_name = OS.get_system_dir(3) + "/test_backup"

But I also tried the "demo.zip" from the latest releases without changes. I could not run that demo "as is" because I get errors in Godot:

![godot_parser_error](https://user-images.githubusercontent.com/78389418/106619456-3b274200-6536-11eb-9

[2021-02-02 15:47] 2shady4u commented on #31
What version of Godot are you using?
What version of Ubuntu are you using? (or are you using another distro of Linux)

The first error with the tex_data is to be expected I guess, not smart from me to leave it in like that.
Can be easily fixed by replacing the offending line by:
`var tex_data : Texture = texture.get_data().save_png_to_buffer()`

The second error is much more heinous :/
I double-ch

[2021-02-02 15:49] 2shady4u commented on #31
All the builds can be found in Github Actions btw:

![image](https://user-images.githubusercontent.com/42484461/106625037-92e59d80-6576-11eb-9500-6dba3ac27d28.png)

So it should all be compiled in release mode and having a debug build cannot be the issue.

[2021-02-02 16:36] usertodog commented on #31
The "Texture" change fixed the parser issue.  As for the dll issue,  I think it's the same as this issue:
[https://github.com/2shady4u/godot-sqlite/issues/20](url)

I opened dependencies app for both the "demo.zip" dll and my compiled dll.  I don't use this app, so I can't tell if anything is wrong besides my dll doesn't have all that the demo one does.

"demo.zip" dll:

![image](https://user-imag

[2021-02-02 16:39] usertodog commented on #31
Sorry. I posted before seeing your last comment about the "release" mode not being the problem.

[2021-02-02 17:11] usertodog commented on #31
I guess I should have noticed the zoom-in feature.  Here's what I got from Android Emulator zoomed in:

![image](https://user-images.githubusercontent.com/78389418/106635749-cd374680-6546-11eb-83f6-749859701ddc.png)

Still have the "**ERROR**: GDSQLite Error: Can't make necessary folders for path (ERROR = 2)" in the logcat.  This is just using the demo with the modified "texture" update and the ch

[2021-02-02 17:13] 2shady4u commented on #31
If not too much trouble could you check what issues persists after switching to 3.2.3.stable.official?
Might not be the problem, but who knows 🤷‍♂️

The dependencies thing looks good, there are no missing dependencies! So this means the possibility of a 'debug' build can be removed. (If there's a debug build, you would get missing dependencies there)

What architecture does this Android Emulator u

[2021-02-02 17:22] 2shady4u commented on #31
Wait the `Texture` variable is the wrong class, it should be this:
`var tex_data : PoolByteArray = texture.get_data().save_png_to_buffer()`

[2021-02-02 17:25] 2shady4u commented on #31
Okay, I think the issue is my fault. I can't get it to work on Android either now!
I got the exact same issue.

[2021-02-02 18:03] usertodog commented on #31
Sorry.  I don't have Discord.  I will see if I can make the PoolByteArray change and test it later.  As for the lines 74-88 changes, I may need to recompile it again and test as I have overwritten that .dll/,so.

[2021-02-02 18:08] 2shady4u commented on #31
Test 1:
- I removed the offending part and now android works again 🥳

![Screenshot_2021-02-02-19-06-19](https://user-images.githubusercontent.com/42484461/106643393-f7f6be80-6589-11eb-8c7a-9a115ce482fd.png)

[2021-02-02 20:07] usertodog commented on #31
Nice.
I haven't downloaded the latest Godot version 3.2.3.stable.official so it may explain why I get the error below.

![image](https://user-images.githubusercontent.com/78389418/106655383-e3e99780-655e-11eb-9a9d-c1b75ba177cd.png)

I've commented out the tex_data piece and exported it out to the emulator with the lines 74-88 commented out as such:

![image](https://user-images.githubusercontent.c

[2021-02-02 21:15] 2shady4u commented on #31
@usertodog

Two of those errors are normal errors of the demo project:
1.
`--> SQL error: no such table: company`
This is because we attempt to delete the table with the name `company`, but since the table is newly created, this table does not exist!

2.
`--> SQL error: FOREIGN KEY constraint failed`
This is because the foreign actually doesn't exist as an example of what would happen if you try t

[2021-02-02 22:32] usertodog commented on #31
@2shady4u

So I think the demo with the changes to lines 74-88 works.  But to do the test, I changed the export to have read/write external storage so that it can export/import to the Download folder (this was a functionality I wanted to use).

I tested it by updating the demo to do this:
1. after insert of data, export_to_json as "_old"
2. update one record (in my case Paul) with some new info (i

[2021-02-02 23:13] 2shady4u commented on #31
Hello, good news since those 3 errors are all errors that are added to the demo-project as examples. You can easily find the places at which they are triggered.

So lets re-iterate:
- The Android build has issues because `make_dir_recursive` can't be called due to Android permission issues.
- The Windows build doesn't want to run because...? Because of Godot being a different version? Or what's th

[2021-02-03 00:48] usertodog commented on #31
To summarize on my end:

1. The initial problem I had was because of the make_dir_recursive section (lines 74-88).  To my understanding, it does not have to do with Android permissions.  I believe it has to do with godot trying to access/create a directory but doesn't have a base to start creating the directory at as mentioned in this godot q&a below (for some reason I can't link the url).  https:

[2021-02-03 13:42] 2shady4u commented on #31
@usertodog

I've commented out the offending part (since it also doesn't work in windows export 😭 ) for now and added some additional fixes.
I'll test the windows demo project, windows export (in both release and debug mode) and the android demo project.

If possible could you check if the new release (will put link here once it is up) solves the issue for you?

[2021-02-03 13:45] 2shady4u commented on #30
@Thebas This would only be for Android? 🤔
Because on Windows this doesn't work at all 🤷

[2021-02-03 15:12] usertodog commented on #31
@2shady4u

I just downloaded the demo.zip from your link and it looks like I get errors for both running in Windows (Godot 3.2.3) and from export to Android emulator (android v10).  No modifications to anything.  Here's screenshot of emulator error and windows error:

![image](https://user-images.githubusercontent.com/78389418/106766540-98d39100-65ff-11eb-9916-26e2129ba419.png)

![image](https://u

[2021-02-03 15:44] 2shady4u commented on #31
Just checked again on my end by downloading the demo.zip myself and opening it in both 3.2.3.stable.official and 3.2.1.stable.official.

In both cases it works on Android and on Windows for me.
(Except for the tex_data ofc. but I disabled that)

I'm really at a loss what is going on? I'm gonna try ask some more basic questions (that might sound stupid, but who knows?) questions:
- What version of

[2021-02-03 16:25] usertodog commented on #31
All of this could be on my end only, but I don't know either.

I'm using Windows 10 v10.0.17763 Build 17763.  Not a VM. I haven't tried any of the older asset versions, but I'll have to check those out later.
My NDK version should be fairly new:
Pkg.Desc = Android NDK
Pkg.Revision = 21.3.6528147
The emulator uses x86 architecture as far as I know.
Using adb install, I get this error: Failure [INST

[2021-02-03 17:01] usertodog commented on #31
I'm not sure if I did this correctly, but here's my win64 dll I compiled from your version2.2 asset.  I had to do a git clone --recursive for the godot-cpp as it was empty.  My dll is a lot bigger in size than yours but it works for me (target=release). I haven't compiled for any other platforms.

https://github.com/usertodog/godot-sqlite2.2_win64.git

[2021-02-03 18:14] 2shady4u commented on #31
That libgdsqlite.dll that you linked me works on my end 🤷‍♂️
The size is quite big... How did you compile this?
- What version of VS are you using? If not using Visual Studio, what compiler are you using? How many bits?
- Are you perhaps using 32-bit builds/windows? 😱  (That could explain a lot!!!!)

[2021-02-03 18:32] usertodog commented on #31
I am using MSYS2 with MinGW 64-bit.  I'm not using VS.  I am using a different SCONSTRUCT file as what you have though.  I've uploaded it to my repository.  This SCONSTRUCT works for my setup.

scons platform=windows target=release bits=64 use_mingw=yes

[2021-02-03 18:42] 2shady4u commented on #31
okay, probably some debug symbols that dont get stripped properly or something. Nothing to worry about I guess.

Could you try to run the godot-cpp-ci project that I linked?

[2021-02-03 18:51] usertodog commented on #31
With no compiling and just using "\godot-cpp-ci-main\gdnative_cpp_example\demo" project in godot 3.2.3.  I still get the error although it doesn't crash.

![image](https://user-images.githubusercontent.com/78389418/106794504-8e74bf80-661e-11eb-85b9-562b5ccc3476.png)

[2021-02-03 18:59] 2shady4u commented on #31
And if try to export it to android (without recompiling) Do you get the same error as for the SQLite library?

[2021-02-03 19:07] usertodog commented on #31
There was no export preset for Android in that project, so I just created one with x86 checked.  Exported it to the emulator and it installed fine.  It also ran fine as well (the little icon moved around a bit, not sure if that was suppose to happen).  Looking at the logcat, there were no godot errors (some warnings).

[2021-02-03 20:28] 2shady4u commented on #31
Yeah, the icon should wiggle a bit, that's all that is supposed to happen.

The fact that android works for that repository makes me even more confused...
Let's summarize a bit again (only for the windows part):

We know that in both cases:
1. The DLL is exported in 64-bit mode
2. The OS is 64-bit Windows 10
3. Godot is version 3.2.3 and is NOT MONO

🤔
Could you go back in time and test out the Wi

[2021-02-03 21:05] usertodog commented on #31
Which plugin are you referring to for version 2.0, 1.9, 1.8?  Also, I won't have time to do this right away but I can try to test when I have a chance.

[2021-02-03 21:11] 2shady4u commented on #31
Godot-SQLite, since the other plugin doesn't have older versions.
If there's anything that I can do to replicate the error, please enlighten me because that would help immensely.

[2021-02-03 22:47] usertodog commented on #31
I think I found the fix for the windows error.  I searched the internet and it looks like the problem is that my computer didn't have the 2019 VC Redistributable as stated here:

https://github.com/godotengine/godot-git-plugin/issues/20

Downloaded/installed and the "open_dynamic_library" error goes away.

[2021-02-03 23:12] 2shady4u commented on #31
Damn, I had hoped exporting in release mode takes care of this, but I guess that's not the case...

Here's another closed issue that gives a solution then:
https://github.com/godotengine/godot-cpp/issues/434

I'll try compiling with the /MT flag tomorrow to see what that does.

[2021-02-03 23:26] 2shady4u commented on #31
Here's the DLL compiled with the /MT flag:
[libgdsqlite.zip](https://github.com/2shady4u/godot-sqlite/files/5922117/libgdsqlite.zip)

Could you test it out? Please uninstall the VC redistributable again 😄

[2021-02-03 23:33] usertodog commented on #31
That worked!

[2021-02-04 09:55] 2shady4u commented on #31
Okay! That's great news! I'll see if I can push this change trough at some point. (Hopefully at the level of the godot-cpp repository)

That just leaves the x86 android issue to be solved right? 🤔

[2021-02-04 14:52] usertodog commented on #31
I found the x86 Android problem.  I didn't realize that the demo.zip 2.2 project doesn't have the x86 architecture turned on.  I turned it on and exported as usual.  The problem went away.

[2021-02-05 11:38] 2shady4u commented on #30
Okay, I've added an additional disclaimer to the README.md, I hope this is sufficient for now!
(until I figure out a proper VFS for loading databases)

[2021-02-05 11:38] #30 closed

[2021-02-05 18:37] tommasodargenio opened #32 "Error calling update_rows/select_rows with PoolByeArray/BLOB as input, insert_rows works fine though"
I was using this plugin already before the 2.1 and the queries with blobs / raw data were not working. With 2.1 my insert works well however the updates still don't.

I download an image from a web server, this comes as PoolByteArray type. When using the insert_row method it works fine and I can see the image in the database, however, when using the update_rows method I get this error in the debug

[2021-02-05 18:58] 2shady4u commented on #32
Smells like a bug...
Could you test this with 2.2?
Probably wont change anything, but who know?

I'll try to do a test this weekend in an attempt to replicate the issue.

[2021-02-05 19:09] tommasodargenio commented on #32
Just tested on 2.2, I'm afraid I get the same error. Let me know if you want me to test further.

[2021-02-05 20:32] 2shady4u commented on #32
I'm having the same issue in a simple example:

![image](https://user-images.githubusercontent.com/42484461/107085632-0a2a6400-67f9-11eb-9302-06c950ed11f4.png)

I know what is causing the error... (I'm not calling `query_with_bindings()`) but I won't have time to fix it immediately.

A current work-around is to do the following:
`db.query_with_bindings("UPDATE subscriptions SET thumbnailStandard =

[2021-02-06 13:10] tommasodargenio commented on #32
Glad you found the bug, no worries about updating take your time. Your workaround actually worked without a problem and I can continue my work. Thanks a lot!

I'll leave it up to you to close this or not in case you want to keep it here until the bug is solved and reference the commit back.

[2021-02-06 13:47] 2shady4u commented on #32
I'm looking at the best way to implement this in the most elegant way possible.
I'm just wondering if a BLOB will ever be used as an update-condition, like this:

[code]

Would that be useful in some cases? And if yes, is this an edge-case or something that might be applied more generally?
🤔

[2021-02-06 13:56] tommasodargenio commented on #32
I wouldn't personally use a blob in a WHERE clause in general (not very efficient and quite memory expensive), but there might be a lot of cases where this is something the dev would like to do. I don't think that UPDATE is the place where you would use such a thing, more like in a SELECT.

my 2 cents :)

[2021-02-06 14:10] 2shady4u commented on #32
That's probably gonna need some changes in the amount and type of the input arguments of those functions, which will mess up backwards compatibility.

I'll leave this issue open for now for other people that have this exact same issue can read about the work-around.
No idea when I'll fix this though...

[2021-02-07 14:32] 2shady4u commented on #31
@usertodog
I am closing this issue and opening a new one that describes the issue in due detail.

[2021-02-07 14:32] #31 closed

[2021-02-07 14:39] 2shady4u opened #33 "Windows library doesn't work if VCRUNTIME.DLL is missing on host device"
Basically if the host device doesn't have any VC++ redistributables installed, the DLL library will fail to load on Windows devices.
This is due to the fact that the DLL has a dependency on VCRUNTIME.DLL libraries that has to be satisfied.

Two possible options are available to solve this issue:
## **1. Change the MSVC compilation flag from /MD to /MT**
This would results in a DLL that includes th

[2021-02-07 16:00] 2shady4u commented on #23
Implemented compilation flag for skipping header bytes (`SKIP_HEADER_BYTES=24`) to avoid failure to open database due to wrong settings.

Also updated the source files to be compatible with latest master.

[2021-02-09 19:42] Thebas commented on #26
Hello! I can seem to get this functionality working :/

	db.open_db()
	print(db.insert_row(workouts_table, workouts_dict)) //prints true
	db.close_db()
	Global.workout_exercises_id = db.last_insert_rowid()

[2021-02-09 20:11] 2shady4u commented on #26
This works for me 🤔
![image](https://user-images.githubusercontent.com/42484461/107422351-31e03b80-6b1b-11eb-8329-1e4c2b1820f1.png)

and in the console this gives:
![image](https://user-images.githubusercontent.com/42484461/107422408-445a7500-6b1b-11eb-953b-7b1a2dcf56bc.png)

Are you using the latest version of this plugin? (2.2)

[2021-02-09 20:11] Thebas commented on #26
handle_crash: Program crashed with signal 11
Dumping the backtrace. Please include this when reporting the bug on https://github.com/godotengine/godot/issues
[1] /usr/lib/libc.so.6(+0x3cf80) [0x7f8ce9ad4f80] (??:0)
[2] /home/thebas/godot/projects/TrainingOverseer/addons/godot-sqlite/bin/x11/libgdsqlite.so(sqlite3_last_insert_rowid+0x4) [0x7f8cd15554e4] (??:0)
[3] godot::SQLite::get_last_insert_row

[2021-02-09 20:12] Thebas commented on #26
I first got it from the store.
Now I updated to the version with FTS5 enabled (Thanks again).

[2021-02-09 20:12] 2shady4u commented on #26
It's a variable, so calling a function will 100% not work.

[2021-02-09 20:34] Thebas commented on #26
Now it's working...

I understand now that I cannot get the row id after db_close().

But there is something fishy with the version from the store I believe (unfortunately I deleted it).
I will test it further when I have more time. I hope I didn't waste your time. I even got the source code to check if the documentation had any typo.

Can you try using insert_row instead of insert_rows?
Could be

[2021-02-09 21:27] 2shady4u commented on #26
I'll add a big fat error in the call to avoid this, something like this:

[code]
I'll add this is in the next update. (whenever that may be...)

I checked with `insert_row` and this also works:
![image](https://user-images.githubusercontent.com/42484461/107430650-bafc7000-6b25-11eb-95c5-94a98c296e36.png)

For clarity's sake, could you tell me your:
- OS?
- Godot version?
- Plugin version?

And I w

[2021-02-10 19:21] Thebas commented on #26
Manjaro linux up to date + Godot_v3.2.4-rc1_x11.64 + was 2.0 plugin version (taken from the "store")

[2021-02-10 19:24] 2shady4u commented on #26
The 2.0 plugin didnt include this variable yet, so that's normal that it wasn't able to find it 🤔
does the latest plugin from the store (which should be version 2.2) have the same issue?

[2021-02-10 19:25] Thebas commented on #26
I don't know, unfortunately. I switched to the version with FTS5 enabled directly.

But I would assume No.

[2021-02-10 20:24] 2shady4u commented on #26
Okay, closing this issue again then

[2021-02-10 20:24] #26 closed

[2021-02-10 21:31] Thebas opened #34 "Add export support to triggers"
Hey 2Shady4me, it's me again... :D
If we add triggers to be created in the DB (importing from JSON (amazing feature BTW)), those trigger are not exported if we then do the "export_to_json" thingy.

Add something like this to a previously exported json:
[code]
Import it(I confirm it is added to the DB), then export.
Look at the file.
SPOILER: It's gone!

It's not a massive deal, I just wanted to le

[2021-02-11 11:48] 2shady4u commented on #34
Hi @Thebas
I've been meaning to rework the import from/export to JSON functionalities.
One of the bigger issues I'm having is how to store BLOBs in JSON.
The brute force method would be to just dump the binary data into JSON, but there might be better ways.

Things like foreign keys are also not supported in JSON, so that might also be implemented in some way in the future...

[2021-02-11 11:50] Willowblade commented on #34
Base64 encoding of binary data in JSON is pretty fast and easy imo

[2021-02-19 18:44] mabelair88 opened #35 "EditorPlugin"
I have godot engine v 3.2.3. I add the SQlite plugin 2shady4u.
I am getting an error on start of the godot Engine
"Impossible de charger le script de l'addon depuis le chemin : « res://addons/godot-sqlite/godot-sqlite.gd ». Le type de base n'est pas EditorPlugin."
This is the addon godot-sqlite.gd is not working with EditorPlugin.
I can not solve this problem, can you help me.
bestr regards,
Miche

[2021-02-19 18:59] 2shady4u commented on #35
Hi @mabelair88

Could you tell me the following:
- your OS (windows, linux, macos)
- the version of the plugin (as found in plugin.cfg)
- Did you activate/deactivate the plugin in the ProjectSettings?

[2021-02-19 20:31] mabelair88 commented on #35
hi Piet Bronders,

I am on win10,*  Plugin **v**er*sion="2.2", when I try to activate the
plugin, I receive the fault message described before. I am not able to
activate the Plugin.

MichelB

Le ven. 19 févr. 2021 à 13:59, Piet Bronders <notifications@github.com> a
écrit :

[2021-02-19 22:34] 2shady4u commented on #35
Here's a video showing the install process for Windows 10 with Godot 3.2.3:

https://user-images.githubusercontent.com/42484461/108568686-ce1ff480-730a-11eb-88d2-0bba6c77f0ae.mp4

As you can see I don't seem to get this error?
Please tell me what is different in your case?
Is the process the same for you?

[2021-02-20 17:24] mabelair88 commented on #35
Yes, it is working.
I had to remove all addons in my tree. And also remove the addon in the
demo. I did reboot my CPU, and started the procedure you sent me.
Thank you very much for your help. And have a nice day.
best regards,
MichelB

Le ven. 19 févr. 2021 à 17:34, Piet Bronders <notifications@github.com> a
écrit :

[2021-02-21 13:15] 2shady4u commented on #35
Okay!
If you run into any other issues please feel free to open another issue :D

[2021-02-21 13:15] #35 closed

[2021-03-09 12:33] mrimvo opened #36 "libgdsqlite.so compiled with GLIBC_2.28, which is too recent"
I would like to use sqlite on a linux headless server. Similar to #7.

My docker is running jessie-slim with GLIBC 2.19. When hitting the line `db = SQLite.new()`, the plugin reports:

[code]

From what I understand, the library must be compiled with GLIBC 2.19 or earlier to run on GLIBC 2.19 or later.

This error affects any unix system with GLIBC older than 2.28.

[2021-03-09 19:12] 2shady4u commented on #36
hello @mrimvo
Do you know which version of Ubuntu LTS supports that version of glibc? If yes, the Github Action's platform could potentially be changed to alleviate this issue

[2021-03-09 21:13] Godont opened #37 "Cannot update record using update_rows"
I'm trying to follow the demo project (which works for me) and adapt it to my project, but I'm facing issues when trying to update records. I have only one scene, with a single node and script, which in its entirety is below (I can include my sample project too if that helps):

[code]

And here is the log output:

The SQL code for the update makes sense to me, and the call to `update_rows` seems t

[2021-03-10 08:35] 2shady4u commented on #37
No this was most definitely the appropriate place 👌

Be aware that opening database connections could be computationally expensive, so you might not want to open/close your database every time when you update a single record, but leave your connection open for large parts of the program time.

[2021-03-10 09:41] mrimvo commented on #36
Thank you for your quick answer, I appreciate. Doing some research I found that Ubuntu 14.04 uses GLIBC 2.19. Ubuntu 16.04 seems to use 2.23.

[2021-03-10 15:49] Godont commented on #37
Okay thanks, I will modify my code (I was just trying to get used to the package really). My game will have "save stations" at different points; my plan was to keep the db closed during regular play, but open while saving/loading data.

Thanks again!

[2021-03-11 12:27] mrimvo commented on #36
I think in Github Actions, there is only Ubuntu 16.04 available, no earlier version. If you could use this for compiling the library, that would help me a lot. Thank you :)

[2021-03-13 12:41] hagabooga opened #38 "Value returned from select_rows is the same reference?"
Spent an hour wondering why my value returned from select_rows was being modified incorrectly and realized if I called select rows again in the same function it changes the previously stored variable or some undefined behavior.

Example:
[code]

I don't know whether or not this is intended or I'm missing something but maybe there should be something on the docs about it?

To fix this I need to dup

[2021-03-13 13:44] 2shady4u commented on #38
This is due to the fact that Godot dictionaries and arrays are **passed by reference.**
Basically when you call the `.select_rows()` function again, the `data` values are overwritten since it is the exact same reference.

As you mention, You'll need to duplicate the data to fix this. (Possibly you'll also have to set the `deep`-value to True)

Since this is Godot's intended behaviour, I don't thin

[2021-03-13 14:06] cameron-hu-ginkgo commented on #38
but why does select_rows return the same reference?

[2021-03-13 14:07] hagabooga commented on #38
but why does select_rows return the same reference?

[2021-03-13 14:12] 2shady4u commented on #38
For two main reasons:
1. The duplicate()-function hasn't been properly implemented yet in godot-cpp, so I can't call it myself in the C++ code 🤷‍♂️ I would have to use my own (inferior = slower) implementation.
2. Passing the data by reference speeds up the select_rows when you are selecting 1000+ rows since you don't have to copy every field by value.

Or if you are asking this question in a more

[2021-03-13 14:20] hagabooga commented on #38
select_rows returning query_result makes sense now. Thanks for the quick reply.

[2021-03-13 14:20] #38 closed

[2021-03-14 15:52] 2shady4u commented on #34
BLOBS now get encoded/decoded to base64 when exporting/importing from JSON

[2021-03-15 16:44] #36 closed

[2021-03-15 20:57] mrimvo opened #40 "Double log messages with verbose_mode=true"
Hello there,

this is more of a question. When working with the plugin, and setting `db.verbose_mode = true`, I get every statement 2x. Is this intended behavior?

[code]

Thank you for this amazing plugin, it helps a lot :)

[2021-03-16 15:58] 2shady4u commented on #40
Hi @mrimvo

This is intended behaviour and is useful when using parameter bindings.
For example, in the demo project, the console logs both the original query and the finished query (with parameters added)

[2021-03-16 16:09] mrimvo commented on #40
Thank you for clarification :)

[2021-03-16 16:09] #40 closed

[2021-03-16 16:22] mrimvo opened #41 "Can't save blobs with db.update_rows(...)"
Using db.update_rows(...), saving **blobs** does not work.

Output is:
[code]

But I think it should be something like:
[code]

I *can* save blobs with db.insert_row(...) though. But updating blobs doesn't work.

----
As a side note, I also tried
[code]
But in the log it says:

[code]
So there seems to be another issue with `query_with_bindings`

[2021-03-17 10:43] 2shady4u commented on #41
The first issue is known and is a duplicate of https://github.com/2shady4u/godot-sqlite/issues/32
This will hopefully be fixed in the next update (whenever I have some free time 😱 )

Your side note is actually a lot more interesting as this is unexpected behaviour.... will test ASAP and get back to you

[2021-03-17 11:17] 2shady4u commented on #41
![image](https://user-images.githubusercontent.com/42484461/111458909-55019a80-871a-11eb-9b7e-bce1a6bd5cb8.png)

So I tested it somewhat and get the same error.
When not putting a "?" in for the data-column everything works perfectly.

I'll have to check, but I actually think you can't bind columns in this way.
So you'll have to change your query to this:
[code]

or if you still want the "myblob"

[2021-03-17 11:20] 2shady4u commented on #41
After a little bit of searching I found this:
http://sqlite.1065341.n5.nabble.com/Binding-a-column-name-td1045.html

So it's a SQLite restriction that applies here and not an issue of the plugin itself! 😅

[2021-03-18 22:42] 2shady4u commented on #41
Can I close this issue then? Since this is a duplicate from #32 and the secondary issue is due to an SQLite restriction and doesn't directly relate to the Godot-SQLite plugin itself?

[2021-03-19 14:37] mrimvo commented on #41
Yes you can close it, thank you :)

Maybe add a hint to the docu about the secondary issue, for the next person
stumbling over it 👍

Am 18. März 2021 23:43:09 schrieb Piet Bronders ***@***.***>:

[2021-03-19 18:21] 2shady4u commented on #41
will do!

[2021-03-19 21:09] #41 closed

[2021-03-26 18:23] sesenta commented on #7
Hi, I had this problem today and the solution is easy

when you export to server you only export the pck, but if you are using this plugin you will need to manually export the database and the file inside the x11 folder called libgdsqlite.so

**even if you marked in export / resources / filter to export: * .so, *. db ; you must do it manually**

**summary:**

**Option 1: (most simple)**

export yo

[2021-03-26 19:49] 2shady4u commented on #7
@sesenta I would like to test this out myself and add the necessary steps to the `README.md` of this repository.
Do you maybe have a project readily available on which I may test this out?

Thanks for reporting your findings btw!

[2021-03-26 20:29] sesenta commented on #7
@2shady4u i'm gonna prepare a project for test :)

[2021-03-27 14:41] 2shady4u commented on #34
@Thebas saving/loading triggers to/from JSON has now been implemented in latest commit on the dev branch and will be part of the next release.

[2021-03-27 15:32] sesenta commented on #7
i dont know how to upload the project to github, how can i share the project?

[2021-03-27 18:40] 2shady4u commented on #7
Normally you should be able to drag and drop a `*.zip` archive of your project here.
Like this:
[icon.zip](https://github.com/2shady4u/godot-sqlite/files/6216182/icon.zip)

[2021-03-27 20:12] #34 closed

[2021-03-27 20:19] 2shady4u commented on #32
I added the possibility to include BLOBs in an `update_rows()`-statement.
Also I've decided not to allow PoolByteArray (and bindings as result) in the conditional string of `update_rows()` & `select_rows()` since that would require breaking compatibility and can easily be circumvented with the work-around described above.

For the moment I'm considering this issue to be closed.

[2021-03-27 20:19] #32 closed

[2021-03-27 21:58] sesenta commented on #7
i had to delete the plugin to get a zip with less than 10 mb XD. so you need install it in the project
[demoSQlite.zip](https://github.com/2shady4u/godot-sqlite/files/6216466/demoSQlite.zip)

the project exported must look as:
[sqliteServerExported.zip](https://github.com/2shady4u/godot-sqlite/files/6216470/sqliteServerExported.zip)
in this folder you need add the godotServer binary and change its

[2021-03-28 07:16] progsource commented on #33
In the meantime it would be nice to have a hint in the readme, so that users of the plugin do not run into "No valid library handle" while trying it out ;)

[2021-03-28 07:19] Aspire5 commented on #33
Yes, Please. I could have never figured it out by myself without the help of @progsource

[2021-04-01 21:33] 2shady4u commented on #33
A section has been added to the README.md that addresses this issue.

[2021-04-02 08:51] 2shady4u commented on #7
@sesenta Thank you for testing this!
I've added your "how to set up" explanation to the README.md :)

Closing this issue since exporting for server seems to work correctly!

[2021-04-02 08:51] #7 closed

[2021-04-02 10:08] 2shady4u opened #42 "Syntax errors for empty strings and string using syntax restricted symbols"
Creation of the following `table_dict` results in syntax errors of the query:

[code]

Encapsulating all strings with single quotation marks seems to fix the issue:
[code]
However, the subtleties of adding these quotation marks is never mentioned anywhere in the documentation.
To make it even more confusing, the "bobby" default value actually works but creates a different default value in the data

[2021-04-03 14:50] wwderw opened #43 "Segmentation Fault on Linux Release Only"
Using Godot 3.2.3, I'm getting a segmentation fault right after accessing the database (doesn't matter the operation) when I use an exported Release version.  Linux Debug works without issue.  Windows Release and Debug have no issue at all either.

Unable to confirm on Mac.

Any starting points as to why it only seems to affect the Linux Release version?  I would have thought that if it was associ

[2021-04-03 15:24] 2shady4u commented on #43
I'm going to need some information:
- What distro?
- This is the official Linux release? From the asset lib?
- What is the exact error message that you get in the Godot console?
- Do you have the same problem with the legacy Linux version? (https://github.com/2shady4u/godot-sqlite/suites/2412733788/artifacts/51421766)

[2021-04-03 15:28] wwderw commented on #43
Current KDE Neon User version

Yes, it is the official Godot Asset version

Technically it's not the Godot console, as in via the Godot program itself.  I will open via Konsole the program and it would give me the msg that the database opened and then the next line, segmentation fault and that's it.

I have not used any legacy versions, just the one via the Asset Lib.

[2021-04-03 15:34] wwderw commented on #43
Tried the legacy version and still same result.

Attached is the same msg that I get with the Linux Release version.
![error](https://user-images.githubusercontent.com/24878362/113483251-1c76f600-9468-11eb-9dde-41c543468948.png)

[2021-04-03 15:38] 2shady4u commented on #43
Could you try to run the demo project? As downloadable in the releases tab [here](https://github.com/2shady4u/godot-sqlite/releases/tag/v2.3).

[2021-04-03 15:46] 2shady4u commented on #43
Wait, just to clarify: when you are talking about "Linux Release version" you are talking about an exported build of your game in release mode? Or are you talking about the plugin being compiled in release mode?

[2021-04-03 16:01] wwderw commented on #43
Linux Release version is the exported Godot project for the Linux platform.
![memory](https://user-images.githubusercontent.com/24878362/113484046-f9e6dc00-946b-11eb-836b-0638a67339d6.png)

[2021-04-03 16:05] 2shady4u commented on #43
I'm trying to do some exporting on an Ubuntu machine to see if I get the same issues...

[2021-04-03 16:21] 2shady4u commented on #43
Ok, I've exported the demo-project on my Ubuntu 20.04 test machine.
In both cases the demo project runs perfectly:

DEBUG:
![debug](https://user-images.githubusercontent.com/42484461/113484557-4270ba80-94a9-11eb-83c7-21db1ee1cfd6.PNG)

RELEASE:
![release](https://user-images.githubusercontent.com/42484461/113484558-43a1e780-94a9-11eb-9655-1c44ad15feef.PNG)

And the :memory: database works, so I gu

[2021-04-03 16:39] wwderw commented on #43
Yes, demo does work perfectly for me as well.

Location: res://assets/otrDB.db
code: var db := "res://assets/otrDB.db"

I actually move my project, with the file structure to another spot in my system.  The debug version works flawlessly.  The Release version does that error.  I have to try the Windows version on a separate computer (not even in a shared folder in a VM) and both versions work.

Th

[2021-04-03 17:47] 2shady4u commented on #43
Okay, I'm grasping at straws here because I got no idea what's going on, but:
- Do you use any non-conventional symbols in your database? (Arabic, Korean, Chinese, ... or just weird letters with umlaut for example)
- Does your database use the default settings? (header size, segment size, ... etc)
- Is the folder to which you copy the project, a folder that might require special privileges of some

[2021-04-03 18:39] wwderw commented on #43
That could be possible that something got through.  This isn't for a game, but an application (I wonder if HD size may be the issue? I just don't know why it doesn't affect Windows in the same way as well)

I actually created this in Sqlite Studio (for Linux) and the database settings were default to the best of my recollection.

This might be the DB itself.  The error didn't appear.  It created t

[2021-04-03 18:41] wwderw commented on #43
That could be possible that something got through.  This isn't for a game, but an application, so the database is slight different then what one would expect with a game.  Although I created the original DB in Sqlite Studio, I did import CSVs from the previous database.

I actually created this in Sqlite Studio (for Linux) and the database settings were default to the best of my recollection.

Thi

[2021-04-03 18:45] wwderw commented on #43
The other thing that gets me to is that the same database does work using Qt and Python/Tkinter (I switched to Godot because I was wanting the Mac support).

I just don't know.  I wouldn't put it past my doing something, but I just don't know.

[2021-04-03 19:20] 2shady4u commented on #43
mmmh.. is this possible to share this database so I can test it out on Ubuntu myself?
Or does it contain sensitive information that would rather not share?

[2021-04-03 20:07] wwderw commented on #43
Not at all.  The database is of just OTR logs.

[otrDB.db.zip](https://github.com/2shady4u/godot-sqlite/files/6253315/otrDB.db.zip)

[2021-04-03 21:45] 2shady4u commented on #43
Release build using this database works on Ubuntu 🤷

![Capture](https://user-images.githubusercontent.com/42484461/113492224-46670180-94d6-11eb-8d15-1f488bf75a05.PNG)

Does KDE Neon use bleeding edge? What's the version of glibc for example?
Also, maybe you could recompile the plugin on your device and see if that fixes it, cause I don't know what else I can test on my side . . . 😢 (instructions [

[2021-04-03 21:53] wwderw commented on #43
Some things are bleeding edge (typically the Qt apps), but the Ubuntu base is the latest LTS, but glibc could be the latest and greatest.  I'll download an LTS and spin up a VM later on today and see if that does it and let you know.

That does make sense though.

I'll let you know later on.

[2021-04-03 23:14] wwderw commented on #43
Little addition to the error msg.  Segmentation fault (core dumped), which if I'm understanding correctly is a permissions issue, but I checked my db permission and owner/group/others have full permissions.  I just don't know, I'm at a loss.  I would have though again, if it was a permission issue it would have also extended to debug mode as well.

Bummer.  Thanks for all the help though, I apprec

[2021-04-04 09:58] 2shady4u commented on #43
@wwderw I've just tested with KDE Neon myself (KDE neon user edition 5.21).

![kde_neon_release](https://user-images.githubusercontent.com/42484461/113505041-b4deaa80-953c-11eb-8c56-32a7416bdbda.PNG)

I don't seem to get any segmentation faults 🤔
🤷 maybe something wrong with your KDE neon installation?

[2021-04-05 01:00] wwderw commented on #43
Sorry it took me so long.  I tried it in a Mint VM, Kubuntu LTS on bare metal and on my son's Neon NUC, all had the same issue.

I would think that it was my code if it wasn't for the fact that it worked in Debug mode and it worked as a release on Win 10.

[2021-04-05 09:22] 2shady4u commented on #43
damn... well... is it possible to send me a minimum reproduction project? because I have no clue how to reproduce the error.

Maybe there's something weird going in your project that crashed it in release mode.

Also could you try godot 3.2.4? They fixed some discrepancies between debug and release in that new version.

[2021-04-05 14:20] wwderw commented on #43
I had tried the RC 7 of 3.3 and it did the same thing.

For getting the master list of all included tables, this is the snippet of code for the function (this is the first function that I try and it crashes every time in Release mode on linux.

$labels/master.show()
	$labels/exists.hide()
	$labels/date.hide()
	$labels/number.hide()
	$labels/name.hide()

	tree = Tree.new()
	root = $databaseView.cre

[2021-04-06 08:18] 2shady4u commented on #43
Hello! :) The code snippet you provided me is a bit hard to work with.
I don't see anything wrong atm with that code though.
If possible, would giving me your entire project (or a stripped version that at least runs in the editor) be acceptable?

I have this suspicion that your issue might be related to this instead:
https://github.com/godotengine/godot/issues/28612

[2021-04-06 21:25] wwderw commented on #43
Stripped down version that only gets the master list.  It works in debug mode and within the editor's testing, but does not work in Release mode.

[databaseExample.zip](https://github.com/2shady4u/godot-sqlite/files/6267640/databaseExample.zip)

[2021-04-07 06:27] 2shady4u commented on #43
@wwderw For the moment I'm just testing on Windows, but I already noticed something weird going in release mode:

DEBUG (everything is fine I think):
![image](https://user-images.githubusercontent.com/42484461/113820192-a5e53b80-977a-11eb-8800-d20059d6749a.png)

RELEASE (for some reason 'A Christmas Carol' is now a parent??? And this switches randomly):
![release](https://user-images.githubusercon

[2021-04-07 06:40] 2shady4u commented on #43
Getting the same error now! Will debug ASAP

![image](https://user-images.githubusercontent.com/42484461/113821793-df1eab00-977c-11eb-86db-21a5c9aeacb0.png)

[2021-04-07 07:52] 2shady4u commented on #43
Okay, I found the issue.

Modified script that doesn't crash due to segmentation fault:
[code]

Why does this script work?
- Calling `clear()` on the Tree removes ALL of the items in the tree. This means that the `child` variable becomes AN INVALID instance! Attempting to call `create_item()` in your Tree with the `child` variable as the parent is an invalid call.

Why does only generate a segment

[2021-04-07 08:18] 2shady4u commented on #43
I've added an even more minimal reproduction project here:
https://github.com/godotengine/godot/issues/28612

We'll see what they say 🤷

[2021-04-07 11:16] wwderw commented on #43
The tree variable was for the Tree node.  I was just following the help documentation on that one.

The reason for the clear() was that any subsequent calls to the DB may not clear out all of the previous one.  Say for instance, you called the master list, and then you called an individual log that only had 92 items.  The 92 items would overwrite the first 92 items of the master log, but the rest

[2021-04-07 11:43] 2shady4u commented on #43
Yes, but you'll have to explicitly set the `child`-variable (and `root` if you need it) to NULL then, otherwise Godot will crash 🤷
So in the end it seems to be Godot's fault that the RELEASE export crashes on Linux

[2021-04-07 20:17] wwderw commented on #43
Hmmm, just checked the Godot issue that you created and apparently it also affects the Mac release only and not the debug.

So it appears to be, based on the tags, that they believe it has to do with Godot core.  Based on that, I don't know if you want to close out this issue or not.

[2021-04-07 20:43] 2shady4u commented on #43
Okay! I'll close the issue then :)
If there's any other problem you run into, please feel free to open a new bug report 🎉

[2021-04-07 20:43] #43 closed

[2021-04-07 21:47] wwderw commented on #43
Will do, thanks again for all your help.  I really do appreciate it.

[2021-04-13 11:15] 2shady4u opened #44 "Base64 implementation should be implemented using the native implementation provided by Godot"
The implementation of Base64 currently depends on a custom (header-based) library that is included in this repository.
However, since Godot natively supports `base64 -> PoolByteArray` and `PoolByteArray -> base64` conversions using the **Marshalls** singleton, this external depedency should be removed and the relevant code modified as to reduce library size and improve compatibility with the nativ

[2021-04-14 13:14] bananabrann opened #45 "Noob Question: Is it possible to open db in GUI?"
Hey y'all!

I'm new to Godot and this SQLite plugin, and I'm running into some issues with opening the database in a GUI. I have a strong hunch I'm misunderstanding the plugin, or missing some basic knowledge.

I'm making my little game as a side project to learn something new. The goal that I have in mind is that there's an items table that the game would read from. From Godot's code, I wouldn't

[2021-04-14 15:09] 2shady4u commented on #45
Hello @bananabrann

If I'm understanding you correctly, you are searching for an external database editing tool?
I highly recommend using [SQLiteStudio](https://sqlitestudio.pl/) for that purpose.

When you open a database using the plugin (and it doesn't exist yet) it creates a new `*.db`-file at the "path"-variable.
This `*.db `file can then be opened and edited by SQLiteStudio.
Alternatively yo

[2021-04-15 14:18] bananabrann commented on #45
Oh wow, I feel dumb. I had assumed the plugin created the database on creation. I didn't even consider that possibility in my head. Thank you! @2shady4u  :smile:

[2021-04-15 14:18] #45 closed

[2021-04-15 16:30] lucassene opened #46 "Help: Accessing the database on an Android device"
Hey wonderful work here, but I'm in trouble trying to access the database on an Android device, I did the copy to user thing, but I'm always getting the "failed to access path" print. Any suggestion?

My code:

[code]
Kind regards,
Lucas Sene

[2021-04-15 16:58] 2shady4u commented on #46
Hello @lucassene

Some potential issues I see:
- Since you are attempting to create multiple directories (`data` & `database`), you'll have to use the `make_dir_recursive()`-function instead of the `make_dir()`-function as described [here](https://docs.godotengine.org/en/stable/classes/class_directory.html#class-directory-method-make-dir-recursive). I would also propose adding a temporary print to

[2021-04-15 22:53] lucassene commented on #46
Thanks a lot @2shady4u ! The project is not only running on Android now, but you also solved another question of mine regarding the best practice on opening and closing the database.

The fault regarding the original issue was in 2 places:

1. The `make_dir_recursive()` thing you've said;
2. The fact that I did not include the *.db in the Export > Resources. Probably the Godot was not exporting th

[2021-04-15 22:53] #46 closed

[2021-04-16 00:57] clayheaton opened #47 "godot-sqlite fails to load on an m1 ARM MacBook Air"
**Environment:**
 - OS: MacOS 11.2.3 (m1 MacBook Air)
 - Godot version: 3.3-rc9
 - _godot-sqlite_ version: 2.3

**Issue description:**
The SQLite Demo fails to run because the dylib is not suitable for the m1 ARM architecture on Macs.

**Steps to reproduce:**
Try to run the demo project in this repository.

**Minimal reproduction project:**
Use the demo project in this repository.

**Additional co

[2021-04-16 08:40] 2shady4u commented on #47
Hello @clayheaton

I'm reading a bit about M1 and it seems that Github Actions (the CI that I use for this project) doesn't maturely support M1 yet.
(https://github.com/actions/virtual-environments/issues/2187). There seems to be some possible work-arounds (like self-hosting), but nothing that seems to be easy to test on my end.

If you want you can try to compile the binary yourself on your devic

[2021-04-18 12:25] shivambromax opened #48 "Is this thread-safe?"
So I am using this module as db for my server,

Everytime a client requests something a new thread is made which accesses the same database.
So after a while the server runs, server crashes & Sends this error
![image](https://user-images.githubusercontent.com/69040506/115145436-27887380-a06f-11eb-9a75-87f935a1db73.png)

hopefully theres something you know about this?

Or should I try using mutexes

[2021-04-18 17:34] 2shady4u commented on #48
According to this:
https://sqlite.org/threadsafe.html
The default value for thread safety is "serialized", which allows threads.

Are you using the same database connection in all of those threads? Or do you create a new database object in each thread? (second option is preferred)

I don't have any experience using SQLite in threads 😞 , but there's no reason why it shouldn't work according to the

[2021-04-18 17:44] shivambromax commented on #48
I am using the same database in the threads, but yeah I used mutex lock & unlock whenever thread needs to use it, & its fixed now, thanks for replying!

[2021-04-18 17:46] shivambromax commented on #48
This is thread safe, database just needs to be mutex-ed

[2021-04-18 17:46] #48 closed

[2021-04-26 17:54] 2shady4u commented on #44
Implemented in d13a48778606ceecc178b53a40319f2330a4ddd2

[2021-04-26 17:54] #44 closed

[2021-05-06 12:04] txj-mssl opened #49 "Better home page description"
I am an amateur who has never touched a database before, and I couldn't use it at all after reading the introduction below the home page, until I read the sample code provided and understood a little.

[2021-05-06 13:29] 2shady4u commented on #49
@txj-mssl hello!

With what did you have trouble?
- Understanding how databases work? (SQLite in this case)
- Understanding how this plugin should be used in Godot?

What would you propose would have to be added to the README to make it easier?

[2021-05-06 20:59] 2shady4u commented on #49
@txj-mssl I added an additional section that links to an introductory video tutorial.

[2021-05-07 05:07] txj-mssl commented on #49
thanks ，I'll go and have a look. After I finish my study, I'll give feedback

[2021-05-15 09:49] 2shady4u commented on #47
Waiting for this PR to be merged: https://github.com/godotengine/godot-cpp/pull/529

[2021-05-30 08:04] txj-mssl opened #50 "Server entry is missing in gdsqlite.gdnlib"
I have learned a little knowledge about database these days, and understood some simple operations of database.
I try to write a simple project about saving the account and password in the database after the user registers.
I bought a Linux cloud server from Alibaba cloud and tried to deploy the server on it. When I tried to run it, I reported the following error.
I use winscp to upload the file t

[2021-05-30 08:08] txj-mssl commented on #50
[server.zip](https://github.com/2shady4u/godot-sqlite/files/6565897/server.zip)
[client.zip](https://github.com/2shady4u/godot-sqlite/files/6565899/client.zip)

[2021-05-30 08:09] txj-mssl commented on #50
The above is the source code

[2021-05-30 08:09] txj-mssl commented on #50
Alibaba Cloud Linux 2.1903 LTS 64

[2021-05-30 08:10] txj-mssl commented on #50
Cloud server is Alibaba Cloud Linux 2.1903 LTS 64

[2021-05-30 10:02] 2shady4u commented on #50
Hello @txj-mssl !

Seems like the "Server" entry in the "gdsqlite.gndlib"-file got deleted at some point 😞
You can fix this issue by adding the entry yourself to this file, like so:
[code]
As discussed here as well:
https://godotengine.org/qa/63890/how-to-open-gdnative-projects-with-headless-server-godot

[2021-05-30 10:47] txj-mssl commented on #50
I modified that file as you said, and then ran it again, reporting the following error：
ERROR: open_dynamic_library: Condition "!p_library_handle" is true. Returned: ERR_CANT_OPEN
   At: drivers/unix/os_unix.cpp:415.
ERROR: get_symbol: No valid library handle, can't get symbol from GDNative object
   At: modules/gdnative/gdnative.cpp:502.
ERROR: init_library: No nativescript_init in "res://addons/

[2021-05-30 10:50] txj-mssl commented on #50
I still don't quite understand

[2021-05-30 11:07] 2shady4u commented on #50
Yes, so now it is able to correctly find the dynamic library 👌
There still seems to be an issue with loading the dynamic library though.

The issue might be that the glibc version of the Alibaba cloud is too old, as discussed in this closed issue: https://github.com/2shady4u/godot-sqlite/issues/36

Two things to try:
1. Try to find out the glibc version of your Alibaba Cloud LTS machine, by runnin

[2021-05-30 11:18] txj-mssl commented on #50
I used this command to query and found that it seems to be 2.17

[2021-05-30 11:34] 2shady4u commented on #50
That is a bit problematic... could you see if it is possible to upgrade your glibc to a later version of this server?
For the default `libgdsqlite.so`-file you will need at least glibc version 2.28
For the legacy version of the `libgdsqlite.so`-file you will need at least glibc version 2.23

Another possibility is to recompile the library using an older glibc version (<= 2.17), but I currently don

[2021-05-30 11:47] txj-mssl commented on #50
Thank you very much. The problem has been solved. I changed the version of the cloud server. His glibc version is 2.32, and my program has been running normally. I don't know anything about Linux and C + +. Thank you very much for your help.

[2021-05-30 13:53] 2shady4u commented on #50
Leaving this issue open until I have time to correctly re-add the Server entry into the gdnlib-files.

[2021-05-30 13:54] 2shady4u commented on #49
Hello @txj-mssl
Do you have any feedback regarding the current state of the home page description?
Is there still something missing according to you? Or is the updated version of the README.md sufficient according to you?

[2021-05-30 14:03] txj-mssl commented on #49
At present, I have not.    When I think about it, I will tell you.

[2021-06-01 08:04] stebulba commented on #47
I have the same issues on Ubuntu 16.04 with Godot 3.3 stable.
Version 2.4 give me "Attempt to call function 'new' in base 'NativeScript' on a null instance." on line : SQLite.new()
on a different project, I use the version of Godot SQLite 1.5 and is Working.
Same when I import SQLite version 1.5 to my new project, it's working.
Until is fixe, maybe leave us older version.

[2021-06-01 08:34] 2shady4u commented on #47
Hello @stebulba

The issue described here is specific to the new ARM M1 architecture introduced by Apple for the new line of laptops and desktop computers.

In your case, the issue is related to the version of **glibc** which is == 2.23 in the case of Ubuntu 16.04 LTS.
The latest binaries of godot-sqlite are compiled using Ubuntu 20.04 LTS which uses glibc version 2.28
Legacy versions of godot-sql

[2021-06-17 03:08] hoangbachvan opened #51 "iOS export - Undefined symbols for architecture arm64"
**Environment:**
 - OS: iOS
 - Godot version: 3.3.2
 - _godot-sqlite_ version: 2.4

**Issue description:**
It's working perfect on godot build, but with iOS the symbol for architecture arm64 is undefined

**Steps to reproduce:**
Export project -> build

**Minimal reproduction project:**
[code]

[2021-06-17 07:28] 2shady4u commented on #51
Hello @hoangbachvan !

Hopefully this is just because there is a file missing, namely:
libgodot-cpp.ios.release.arm64.a (in the case of arm64)
libgodot-cpp.ios.release.armv7.a (in the case of arm7)

You can download this file here:
https://github.com/2shady4u/godot-sqlite/suites/2675239110/artifacts/58960978
(WATCH OUT!!! the files for libgodot files for arm64 and arm7 are switched for some reason

[2021-06-18 08:47] 2shady4u commented on #33
a third option would be to cross-compile for windows using a linux host device.

[2021-06-18 20:57] 2shady4u commented on #50
The missing Server entry has been added in the `dev`-branch and will be included in the next release!

[2021-06-18 20:57] #50 closed

[2021-07-02 19:14] vainn2000 opened #52 "GD-SQLite no longer working in Linux versions"
**Environment:**
 - OS:  Ubuntu 18 and 20 and Deb
 - Godot version:
 - _godot-sqlite_ version:

**Issue description:**
Every time script tries to create an new DB instance it causes a segmentation fault.
Works fine in windows

**Steps to reproduce:**
Verified on 3 different Linux versions.

**Minimal reproduction project:**
[code]

**Additional context**
Not sure if it's the newer 2.4 SQLite wrapp

[2021-07-03 11:47] 2shady4u commented on #52
Hi @vainn2000,

Could you try the following:
- Download the latest version LEGACY version of godot-sqlite as found here as see if that fixes it:
https://github.com/2shady4u/godot-sqlite/actions/runs/819913518
- Find out the version of your glibc on your Linux OS using following command:
`ldd --version`
- I see you are using an AWS server? What is the glibc version of this server?

As found in the

[2021-07-03 12:14] vainn2000 commented on #52
Thank you Piet
Will try this all out and let you know. My knowledge of DB's are pretty
much non existent. I basically hack at stuff and eventually get things to
work with a lot of help from the internet and awesome guys like you.
Curious, how much knowledge do you have of Godot and databases?
Do you have a DB recommendation for something a little more powerful that
works well with Godot? Looking m

[2021-07-03 12:32] vainn2000 commented on #52
Ubuntu 20.04 Lts
glibc version - 2.31-0 ubuntu9.2

hmmm looks like it is an updated version for it's greater than 2.28 like
you stated.

On Sat, Jul 3, 2021 at 8:14 AM Lee Ramer ***@***.***> wrote:

[2021-07-03 12:34] 2shady4u commented on #52
Hi @vainn2000 ,

Most of this depends on what you are actually trying to achieve.
SQLite is a good database engine when you want something light-weight that doesn't need to do any heave lifting like storing millions of rows, updating them at once, etc...)
As a direct result it is a very good database engine for beginners since it is quite easy to learn (In comparison to databases that run their ow

[2021-07-03 12:39] vainn2000 commented on #52
I was looking at post greSQL client for the future when I plan on having a
lot more players and a little more data related to money transactions as
well.
You are right, I chose SQL lite for it's simplicity and ease on
learning about Databases.
Is this your field of study? Computer science etc?

On Sat, Jul 3, 2021 at 8:34 AM Piet Bronders ***@***.***>
wrote:

[2021-07-03 12:57] vainn2000 commented on #52
Hi Piet
When I click on the link I get two options of ubuntu 18 and 16 with this
but no versions of godot-SQLite
Lock emsdk version to 2.0.17
🐧 Linux Builds #60

On Sat, Jul 3, 2021 at 7:47 AM Piet Bronders ***@***.***>
wrote:

[2021-07-03 17:58] 2shady4u commented on #52
Here's a direct link to the legacy version:
https://github.com/2shady4u/godot-sqlite/suites/2675239108/artifacts/58959492

Here's a direct link to the NON-legacy version:
https://github.com/2shady4u/godot-sqlite/suites/2675239108/artifacts/58959491

[2021-07-03 19:13] vainn2000 commented on #52
Hmmmm. I re-exported using Godot Server vers 3.2.3 with putting the Legacy
libgdsqlite.so directly into the X11folder then exported.
Same thing.
Tried current lib.so file as well as same thing.
No one has contacted you with this issue? Wondering if it's just me.

On Sat, Jul 3, 2021 at 1:58 PM Piet Bronders ***@***.***>
wrote:

[2021-07-04 20:04] 2shady4u commented on #52
Hello @vainn2000

I've just tested the demo-project of Godot-SQLite on Ubuntu 20.04 LTS.
Everything seems to work just fine on my device 🤔

![Capture](https://user-images.githubusercontent.com/42484461/124397974-8a56e600-dd13-11eb-9d51-9c095edf1ff8.PNG)

Some questions/things to try out:
1. Since you are running the Server.exe on a AWS Server, could you check what the glibc version is on this AWS

[2021-07-04 21:01] vainn2000 commented on #52
Thanks 2Shady4u
Nice to know that is working on Ubuntu 20. Vers
I have some time this week and will try what you suggested.
Works fine with windows when I retested my code just to see.
Will let you know later this week
Thanks for all your help.
Really appreciated

Lee Ramer

[2021-07-13 09:25] jorderator commented on #52
Hi, I'm having the same issue. I can run the project fine in the editor, everything works as expected. Once I export the project to an executable it runs with some errors and then segfaults when the database is opened. I have not tested on other platforms yet, and I can provide a minimal demo project if need be. You mentioned checking if it happens when not instancing the GDNative class. I don't k

[2021-07-13 09:51] 2shady4u commented on #52
@jorderator I'll have some time in the weekend hopefully to look into this.

Does this problem also exist when:
- You export the demo-project?
- You export in debug mode? You export in Release mode?

I'll export the demo-project as well on Ubuntu 20.04 LTS and I'll see what happens on my end.

[2021-07-13 11:35] jorderator commented on #52
I found the problem. It's the godot server binary. I just tried both regular export and by-hand export for both server and regular godot binary, and with or without debug it's the server binary that causes it. This happens across the demo project and mine.

Here is output for the demo project running through the server binary:
[code]

Regular godot binary gives the output you would expect.

[2021-07-13 14:49] 2shady4u commented on #52
is the server entry present in the gdnlib file?

[2021-07-14 04:10] jorderator commented on #52
Nope, it wasn't, that's it. After some research I added the server line back in, as per #50, recompiled (just using "Export Project" with Linux preset, using the server binary as the custom preset) and it worked fine.

Thanks! Hopefully that means it's an easy fix!

[2021-07-14 09:21] 2shady4u commented on #52
@vainn2000 could you check if adding the missing Server entry in the gdnlib file (as seen in #50 ) fixes the problem for you?

[2021-07-14 12:32] vainn2000 commented on #52
Will do, glad to see I wasn't the only one having the issue.

On Wed, Jul 14, 2021 at 5:21 AM Piet Bronders ***@***.***>
wrote:

[2021-07-14 19:29] 2shady4u commented on #47
@clayheaton There have been some developments that might enable me to export the plugin to ARM64, namely: https://github.com/godotengine/godot-cpp/pull/584

I'm testing out some things on my testing repository (https://github.com/2shady4u/godot-cpp-ci) and I'll report back once I have some results.

[2021-07-14 20:45] 2shady4u commented on #49
Closing this one due to inactivity and because the README.md has been (in my opinion) properly extended with additional information on how to set up Godot-SQLite on your device.

If you do not agree or you have extra information, please feel free to reopen this issue :D

[2021-07-14 20:45] #49 closed

[2021-07-16 16:27] vainn2000 commented on #52
Okay sorry for the late reply, I just did a test run with my authentication
server and it appears to work now when I run it and have the DB opening.
Before I would get the error.
Great job since I know jack crap about linux and DB's beyond the basics for
getting my game up and running.
Much appreciated!!!

On Wed, Jul 14, 2021 at 8:32 AM Lee Ramer ***@***.***> wrote:

[2021-07-17 22:00] 2shady4u commented on #52
@vainn2000 and @jorderator
Thank you both for reporting and solving this bug together with me!
The Assetlib version has been updated to version 2.5 and hopefully this issue won't appear again 😱
If it does... please do open this issue again! (or brand-new one ofc!)

[2021-07-17 22:00] #52 closed

[2021-07-17 22:37] vainn2000 commented on #52
You are welcome Piet.
Thanks for making the SQLite addon.
Very much appreciated.

Lee Ramer

[2021-07-18 04:55] jorderator commented on #52
No worries at all! I'm glad to have helped. I just tried exporting with the updated assetlib version and it seems to run fine.

Like @vainn2000 said, thanks for developing this project and helping us out.

[2021-07-25 09:12] spyr0s opened #53 "Does not work on android with custom template"
**Environment:**
 - OS: macOs
 - Godot version: 3.3.2
 - _godot-sqlite_ version: 2.4

**Issue description:**
When building for android using a custom template i got the error
Can't open dynamic library: libgdsqlite.so, error: dlopen failed: library "libgdsqlite.so" not found.
and the plugin does not work

**Steps to reproduce:**
Install android custom templates and export the project for android

[2021-07-25 09:28] 2shady4u commented on #53
Hello @spyr0s

Just to confirm: exporting for Android without using a custom template works without any problems?

[2021-07-25 09:38] spyr0s commented on #53
Yes, it works fine.
I foxed it by copying the contents of
/addons/godot-sqlite/bin

inside
android/build/libs/(debug|release) folders
but i'm sure that's not an optimal way

Tried adding the paths in build.gradle
[code]

with no luck

[2021-07-29 11:20] 2shady4u commented on #53
Latest Dev snapshot seems to address some of these issues that you are having?

![image](https://user-images.githubusercontent.com/42484461/127483245-ca9d5bb9-e17b-4c3f-8e0f-368dcc647a03.png)

Relevant PR:
https://github.com/godotengine/godot/pull/49911

Could you check if you have the same issue with Godot 3.4?

[2021-07-29 11:55] spyr0s commented on #53
Yes, it worked with godot 3.4 beta 2
👍

[2021-07-30 18:43] Toshiwoz opened #54 "Cannot create table with column name 'From'"
**Environment:**
 - OS: Windows
 - Godot version: 3.3.2 stable
 - _godot-sqlite_ version: 2.5

**Issue description:**
If you try to create a table with a column name equal to the keyword From, it fails, having it considered as a wrong syntax.

**Steps to reproduce:**
In verbose mode this is the statement it's trying to run.

[code]
If you simply add single quotes to the statement, it works:

[code

[2021-07-30 18:53] 2shady4u commented on #54
Does this query work when used in https://sqliteonline.com/ ? This might just be an SQLIte thing that I'm unable to change/fix.

[2021-07-30 23:37] Toshiwoz commented on #54
It does fail, it is indeed an SQLite issue.
I was able to workaround the problem by adding single quotes to the table column name in the dictionary.
Something like this:

[code]

Notice the single quotes inside here `table_dict["'From'"]`.
I don't know if it's a good idea or not to integrate that in the plugin's code, it happens with any columns that happen to cotain an SQL keyword:

- to
- from
-

[2021-07-31 08:42] 2shady4u commented on #54
You can find a full list of protected SQLite keywords here:
https://www.sqlite.org/lang_keywords.html

This function exists and aims to check if a sql query contains any protected keywords:
`int sqlite3_keyword_check(const char*,int);`
( as found here: https://www.sqlite.org/c3ref/keyword_check.html )

[2021-07-31 08:45] 2shady4u commented on #53
@spyr0s I'll leave this issue open until Godot 3.4 has been released.
would you be willing to give a small code snippet or explanation on how to add the plugin to custom Android builds?

Are there any other issues that haven't been solved by Godot 3.4?

[2021-07-31 09:35] spyr0s commented on #53
I just copied the folders
`arm64-v8a`
`armeabi-v7a`
`x86`

from
`addons/godot-sqlite/bin/android`
to
`android/libs/debug` and
`android/libs/release`

[2021-08-01 00:11] Toshiwoz commented on #54
Nice, thanks.

On Sat, Jul 31, 2021 at 3:42 AM Piet Bronders ***@***.***>
wrote:

[2021-08-01 13:05] 2shady4u commented on #47
@clayheaton I've added a build for MacOS ARM64 to Github Actions which can be downloaded [here](https://github.com/2shady4u/godot-sqlite/actions/workflows/macos_builds.yml).

### Why is this build not included in Godot SQLite by default?
Currently Godot doesn't allow multiple MacOS architectures to be defined in the gdnlib-file, meaning that users without ARM64 wouldn't be able to use Godot SQlite

[2021-08-01 13:11] 2shady4u commented on #33
I've added a cross-compilation build for Windows to Github Actions which can be downloaded [here](https://github.com/2shady4u/godot-sqlite/actions/workflows/windows_builds.yml).

### Why is this build not included in Godot SQLite by default?
Currently the binary is excessively large... (~7 MB) There's probably an additional compilation/linker flag that I'm missing to reduce the file size to someth

[2021-08-02 13:00] clayheaton commented on #47
Thank you for your persistence on this, @2shady4u! Do you know if there's an open task on the Godot project for universal MacOS targets?

[2021-08-02 14:10] 2shady4u commented on #47
@clayheaton There's an open PR (https://github.com/godotengine/godot-cpp/pull/529) on the `godot-cpp`-repo that should hopefully enable me to build binaries for the "universal" target.

Unfortunately there hasn't been much activity on this PR 😒 ...
Also a PR (https://github.com/godotengine/godot-cpp/pull/584) was merged independently that enables building for ARM64 , but the "universal" target was

[2021-08-06 17:56] Lucrecious opened #55 "All paths through open_db get ".db" appended to the end"
**Environment:**
All.

**Issue description:**
I used `open_db` on the SQLite object on a file with an extension that is not `.db`, and instead of opening up the file that I wanted to open it opened `<file_name>.db`.

**Steps to reproduce:**
1. Create SQLite object
2. Create DB with extension that is not `.db`
3. Call `open_db` on the file from step (2)

Expected: The file path that I put into the

[2021-08-06 19:15] 2shady4u commented on #55
@Lucrecious I agree.

This extension is an ancient legacy addition to the codebase that has been there since almost the beginning of the project.
A better way might be to check if there's an extension in the `path` and if yes, don't append anything.

What would be the proper way of addressing missing extensions according to you?

- If there's no extension given to the database, append `.db` to the

[2021-08-09 16:12] Lucrecious commented on #55
I'm not sure really. I think there are a few options and I'll tell you which one I prefer but you may have different priorities.
1. Change the method to not add in the `.db` if it's missing, and if this breaks backwards compatibility with users of this asset, then you can output an error message that says something like `"File not found. Reminder that in godot-sqlite version x.x+ the open_db metho

[2021-08-13 22:19] 2shady4u commented on #55
@Lucrecious sorry, I didnt have time yet to fix this issue.
I've got an additional question related to database files **without** extensions.
In your experience, are they ever used? 🤔

[2021-09-01 04:47] hidemat opened #56 "Encryption and decryption"
**Is your feature request related to a problem? Please describe.**

In order to protect sensitive information stored in the Database, encryption and decryption functionality would be nice.

**Describe the solution you'd like**

1.  Adding a function like `db.set_password(password -> string)` that would then encrypt the database using that passphrase.
2. Adding a property like `db.password` to prov

[2021-09-01 08:52] 2shady4u commented on #53
@spyr0s with the release of the new Godot v3.3.3 this issue should now have been fixed by the engine.
Can you confirm this? and if yes, can you close this issue?

[2021-09-01 08:54] 2shady4u commented on #56
@hidemat This is a duplicate of https://github.com/2shady4u/godot-sqlite/issues/23
As discussed in that issue, I was able to get MVP database encryption/decryption working using SQLeet.

I'll leave this one open for now 🤔
At least until I have some more time to work/think about this 🙏

[2021-09-01 12:37] hidemat commented on #56
Oh my apologies a did a search with the word encrypt and didn't find it. My bad. Thanks, best of luck.

[2021-09-02 01:49] hidemat commented on #29
Hey @2shady4u. If I were to try to use both this enable-fts5 feature and the encrypt/decrypt feature in issue #23 how would I do it?  I'm extremely new to c++ and gdnative so I have no clue, but I need both of those features in my project. Thanks in advanced.

[2021-09-05 13:07] 2shady4u commented on #29
@hidemat This should be pretty easy as both the encrypt/decrypt and the fts5 feature are quite independent.
Unfortunately I currently don't have time to work on this due to other obligations...

Basically to enable FTS5 support in the latest master branch you should just add following line to the build script:
https://github.com/2shady4u/godot-sqlite/blob/ed344755f2f50f4dd96017d290396b7c59327706/S

[2021-09-06 00:38] hidemat commented on #29
That's ok. I'll see what I can do with this info. Thanks, and best of luck.

[2021-09-07 23:29] hidemat commented on #29
I've tried the following command to build after adding the line you mentioned:
`scons platform=windows`

How do I build for android?

[2021-09-11 12:23] 2shady4u commented on #53
I'll consider this issue closed for now...
Feel free to re-open this issue if the problem persists.

[2021-09-11 12:23] #53 closed

[2021-09-12 11:59] 2shady4u commented on #55
@Lucrecious Good news! I've finally found some time to figure out a way to implement this that I'm happy with.
The change can be found in https://github.com/2shady4u/godot-sqlite/commit/6a380dce7632c1574d384e79bc7d22b97e3f618e and should be able to alleviate/resolve the cause of your issue.

Currently it works like this:
- **If an extension is present** in the database `path`-variable, the databas

[2021-09-12 12:06] 2shady4u commented on #56
Closing this issue in favor of https://github.com/2shady4u/godot-sqlite/issues/23 as they are identical.
Please continue any discussion on this subject there.

[2021-09-12 12:06] #56 closed

[2021-09-12 12:58] Lucrecious commented on #55
Amazing! Sounds great - thanks. Feel free to close this when its implemented.

[2021-09-12 19:29] holywar20 opened #57 "Can't open dynamic library:"
I am not positive this is a bug - but it's definitely unexpected.

**Environment:**
 - OS: Windows 10
 - Godot version: 3.3.3
 - _godot-sqlite_ version: 2.2

 I had set this up on 2 computers months ago. Got a new machine, pulled my code from github ( which already had the addon installed and configured ) , and I got this error.

 Removing the addon, and reinstalling the addon did not correct it.

[2021-09-12 20:55] 2shady4u commented on #57
Most likely this is due to not having the proper VC++ redistributables installed on the new device as discussed here https://github.com/2shady4u/godot-sqlite/issues/33

Basically due to way that godot-cpp is set up, the plugin expects certain redistributables to be installed on your device and crashes if it doesn't find them...

## Possible solutions:
1. Install the missing redistributables on you

[2021-09-13 15:18] holywar20 commented on #57
You were correct it was just a missing dependency on my end. I'm not a C++ developer, so that did not even occur to me.

That's a bit of a wrinkle I wasn't expecting actually. It's likely I'll need to do the second option whenever I try to release the game. It's an RPG, but I find Databases a really effective way to deal with data, rather than .json. Easier to Parse and filter, and it makes dealin

[2021-09-13 16:30] 2shady4u commented on #57
Second option should work perfectly in your case then. Size increase shouldnt be that big of an issue.

Thank you for using my project :blush:

[2021-09-14 14:26] #57 closed

[2021-09-19 10:17] 2shady4u commented on #29
@hidemat
I'm in the process of merging both the encrypt/decrypt and FTS5 support branches to master.
Here's some instructions on how to easily get binaries for all platforms:

1. Fork this repository
2. Update whatever you need on the master branch and push it to your fork
(for example: add FTS5 support as discussed above)
3. Github will automatically build binaries for all platforms in the Action

[2021-09-19 14:18] hidemat commented on #29
Thanks so much! I'll look into this.

[2021-10-02 13:46] progsource opened #58 "Feature Request: multi-statements"
**Is your feature request related to a problem? Please describe.**

So I tried the other day to use multiple statements in a query and found out the hard way, that that isn't supported yet.
Example Code:
[code]

Only the first statement is actually executed.

**Describe the solution you'd like**

I would like to make multi-statements as shown above.

**Describe alternatives you've considered**

Of

[2021-10-05 04:17] 01271 opened #59 "Any plans to port this from gdnative to gdextension?"
GDExtension is set to replace gdnative and I was wondering if there were any plans to port it over.
https://godotengine.org/article/introducing-gd-extensions

[2021-10-05 15:46] 2shady4u commented on #59
Hello @01271
I'm definitely planning to port the plugin to gdextensions.
However, I can't promise any ETA as I'm currently too busy working on other projects.

[2021-10-05 15:50] 2shady4u commented on #58
Hi @progsource
These seems like something useful to have/support so I'll see if I can implement for the next release (3.1).

[2021-11-05 05:18] MrSmite opened #60 "query() should return query_result, not boolean"
**Describe the solution you'd like**

Since gdscript doesn't support pointers or passing by reference, it would be more efficient and possibly safer to have query() return the actual recordset instead of a boolean. In the current implementation, the caller has to duplicate the recordset into an empty dictionary in order to preserve it or it gets deleted on the next query().

Current:

New:

[2021-11-06 15:55] Terria028 opened #61 "Breakpoint crashes after closing database/db.close()"
**Environment:**
 - OS: Windows
 - Godot version: 3.4 Stable
 - _godot-sqlite_ version: 3.0-assetlib

**Issue description:**
I'm trying to use breakpoint after I call a function with `db.close()` inside of it. But whenever that function was called and breakpoint has reached. The game window just crashes instead of just staying. It didn't gave me an information of an object on the debugger as well.

[2021-11-07 09:21] 2shady4u commented on #60
Hey @MrSmite

I've implemented it like that because duplicating an Array creates considerable overhead (both in C++ and GDScript).
There are a lot of queries that do not require anything to be returned in which case this duplication would just be a duplication of an empty array.

I'll think about it though 🤔

[2021-11-07 09:37] 2shady4u commented on #61
I can replicate the issue on my end... 🤔
Not sure why it is crashing though... I'll have to hook up the VS debugger to see actually what is happening.

[2021-11-09 09:37] MrSmite commented on #60
Why would you need to duplicate the array? The dictionary can be passed directly to sqlite and modified.

[code]

This indicates that variables are in fact passed by reference (I was mistaken above) so unless there's some strange marshalling problem, the dictionary can be part of the C++ implementation?

[code]

Then instead of using **Dictionary column_dict;** to store the query and copying it to

[2021-11-15 12:25] NeroNekro opened #62 "iOS export doesn't work - ld: symbol(s) not found for architecture arm64"
I tried this before, but it doesn't help:
https://github.com/2shady4u/godot-sqlite/issues/51

**Environment:**
 - OS: macOS
 - Godot version: 3.4
 - _godot-sqlite_ version: 3.0

**Issue description:**
Creating iOS export don't work.

**Steps to reproduce:**
Godot / Project export / export to iOS

**Minimal reproduction project:**

**Additional context**
`Applications/Gemini.app/Gemini
Undefined sy

[2021-12-01 02:19] MrSmite opened #63 "SQLCipher Encryption Implementation"
**Is your feature request related to a problem? Please describe.**

Not a problem however the ability to encrypt game data such as logins, email, etc. would be useful.

**Describe the solution you'd like**

SQLCipher is an open source encryption module for SQLite3 that provides 256 bit AES encryption. The license allows for use in commercial products with proper attribution.

[Licensing Informatio

[2021-12-01 23:06] DarkAgeOutlaw commented on #51
The link provided says it's expired. Still can't build for iOS

[2021-12-02 16:55] DarkAgeOutlaw commented on #51
The link says it's expired. Can we get an updated file?

[2022-01-03 17:49] Methamane commented on #47
Hello @2shady4u, I'm not sure if it's related to the original issue but I'm also having problems with using the addon.

### Environment:
- OS: MacOS 12 (M1 Mac Mini)
- Godot version: 3.4.2
- godot-sqlite version: 3.0

### Issue Description:
When trying to initialize the wrapper SQLite.new() I'm getting "Attempt to call function 'new' in base 'NativeScript' on a null instance".

E 0:00:00.187   ope

[2022-01-08 16:50] IsaaacD opened #64 "Failing on SQLite.new() when following the tutorial video linked in README"
**Environment:**
 - OS: Windows
 - Godot version: 3.3.1.stable.mono.official
 - _godot-sqlite_ version: 3.0

**Issue description:**
When I try to preload and then create an instance of  `gdscript.gdns` the debugger and game crash when callaing `SQLite.new()`. I'm following along with the video linked in the `readme` and have the similar code. There is no stack trace or error in the logs of what is

[2022-01-08 18:51] IsaaacD commented on #64
I tried the demo in this repository and it fails on the `SQLite.new()` as well, though there is a bit more information that shows up when loading this project. Maybe it can help

[code]

There was also this error in the console output
[code]

[2022-01-08 18:59] IsaaacD commented on #64
So it appears if I don't have a breakpoint it works... I had set a breakpoint on `SQLite.new()` and that was causing it to break. Is there an editor or something in the debugger that is missing that causes the addon to crash?

[2022-01-10 23:51] IsaaacD opened #65 "HTML GDNative build - imported function 'env.fseeko' signature mismatch"
**Environment:**
 - OS: Windows
 - Godot version: 3.4.2.stable.official
 - _godot-sqlite_ version: 3.0.0

**Issue description:**
When exporting the [demo](https://github.com/2shady4u/godot-sqlite/tree/master/demo) to GDNative build of HTML the error `imported function 'env.fseeko' signature mismatch` shows up

**Steps to reproduce:**
clone repo and build HTML of demo

[2022-01-11 12:21] 2shady4u commented on #65
Hey @IsaaacD

Did you use the "GDNative" export option in your HTML export settings?
The example deployment at https://2shady4u.github.io/godot-sqlite/ still seems functional 🤔

I'm currently taking a little break from godot-sqlite dev so I might not be as present as several months ago, apologies for that 🙏

[2022-01-11 13:40] IsaaacD commented on #65
Hey @2shady4u Thanks for the quick response! I did export as "GDNative" and it was using Godot 3.4.2 and it didn't work.

I've downloaded Godot 3.3.2 and it works in HTML now so something changed from 3.3 -> 3.4

[2022-01-13 12:27] MathiasBaumgartinger commented on #55
Very nice to see that this is already implemented. My team and i use a Geopackage (``.gpkg``), which is a SQLite Container, for procedural rendering of landscapes (https://github.com/boku-ilen/landscapelab). Changing the file-extension for the sole purpose of using this plugin seems quite unnecessary.

The only question left: When will this be released approximately? 😊

[2022-01-14 14:37] MathiasBaumgartinger commented on #18
Now that I saw this Issue i just wanted to check in real quick and mention that we provide an addon called geodot which is able to load geodata from a geopackage (as @2shady4u mentioned). If you have any specific questions feel free to join our server at https://discord.gg/ar4xPTqa and ask questions or discuss new features, or simply by adding issues/pull requests in the repo. It is mostly my coll

[2022-01-21 17:37] 2shady4u commented on #55
Currently waiting for the new version to get approved in the Godot Asset Lib before closing this issue. Unfortunately it seems to be taking a while :cold_sweat:

[2022-01-27 16:41] 2shady4u commented on #55
This feature has now been added in https://github.com/2shady4u/godot-sqlite/releases/tag/v3.1 and is available in the Godot Asset Lib!
As such I'm now closing this issue...

[2022-01-27 16:41] #55 closed

[2022-01-27 16:42] #65 closed

[2022-01-27 17:00] 2shady4u commented on #47
Hey @Methamane! I've just a released a new version of the plugin that exports the plugin to the universal MacOS target which should work regardless of your device.

You can download the release from the releases tab (https://github.com/2shady4u/godot-sqlite/releases/tag/v3.1) or from the Godot asset Lib.
Please tell me if this solves the issue 🙏

[2022-01-29 00:48] hidemat commented on #23
Hi. Sorry to bother you, and please tell me if I'm out of line, but how goes merging of Sqleet and Fst5 to the main branch?

[2022-01-29 16:59] 2shady4u commented on #23
Hey @hidemat! Sorry about my inactivity regarding the encryption and virtual table implementation.
I was burned-out on this project for several months and am slowly getting back into the vibe.

Currently I'm focusing development on porting the plugin to Godot 4.0 so its ready whenever Godot 4.0 releases for real.

Regarding the implementation of encryption and virtual table implementation, I would

[2022-01-29 17:17] hidemat commented on #23
I understand, thanks for the update. Looking forward to the Godot 4 port. Best of luck.

[2022-01-29 17:36] 2shady4u commented on #51
The necessary binaries to make this plugin work on iOS are now available (by default) in the latest release (3.1) and can be found [here ](https://github.com/2shady4u/godot-sqlite/releases/tag/v3.1) or in the Godot Asset lib itself.

[2022-01-29 17:37] 2shady4u commented on #62
Hello @NeroNekro!

Would it be possible to try exporting again, this time by using the latest (as of writing) release of the plugin (3.1) as can be found [here ](https://github.com/2shady4u/godot-sqlite/releases/tag/v3.1) or in the Godot Asset lib itself.

[2022-01-29 17:39] 2shady4u commented on #64
Hi @IsaaacD !
I'll need to do some filthy VS debugging to find out what is creating this crash.

Also, this issue is probably related to https://github.com/2shady4u/godot-sqlite/issues/61 , but I'm leaving them both open until I can figure out what is going on here...

[2022-02-01 13:26] TempestStorm opened #66 "Write speed of database seems extremely slow"
**Environment:**
 - OS: PopOS (Linux)
 - Godot version: 3.4.2
 - _godot-sqlite_ version: 3.1

**Issue description:**
We want to generate a database during the init of our game, however writing to the database is incredibly slow. We want to write potentially several thousand records but even writing as few as 250 makes our startup sequence takes over a minute compared to using JSON which would take

[2022-02-01 17:06] 2shady4u commented on #66
Due to overhead of Godot and GDNative, I think you won't ever get the same speed as in the DB browser. Speed & performance can however be optimized a bit by ditching the for-loop in the example and swithing to the `insert_rows()`-method.

I'll do some tests and I'll get back to you with the speeds on my device.

[2022-02-02 10:23] 2shady4u commented on #66
Hey @TempestStorm

Here are the results on my device (all in milliseconds):

### writing benchmarks:
insert_row() : 23.75804 msec
insert_rows(): 9.02313 msec
writing to a JSON: 0.43533 msec

### reading benchmarks:
select_rows() : 3.76736 msec
reading from a JSON: 0.41822 msec

I would expect the `insert_rows()` & `select_rows()`-methods to overtake the JSON writing/reading once bigger amounts of

[2022-02-02 10:35] 2shady4u commented on #66
I'll check the same script in the new GDExtension API at some point to check if there's a significant increase in speed or not.

[2022-02-02 11:38] TempestStorm commented on #66
So my benchmarks are:

insert_row() : 1887988.3
insert_rows() : 470388.91
writing to a JSON : 266.2
select_rows() : 253.94
reading from a JSON : 113.62

I'm actually surprised how slowly my pc can write a json and I think this indicates issues on my end however:
In your benchmark of insert_rows vs write to json we have a ratio of: 9.02313÷0.43533=20.721
In my benchmark of insert_rows vs write to j

[2022-02-02 11:42] TempestStorm commented on #66
For the record I'm running Pop!_OS 20.04 with the default Gnome desktop.
CPU: AMD Ryzen 7 2700X
GPU: NVIDIA GeForce RTX 2070
32GB Ram

[2022-02-02 17:33] 2shady4u commented on #66
Currently Godot SQLite uses the GDNative API, which has been shown by many users to be quite slow due to the wrapper/translation layer.

The new and unreleased GDExtension of Godot 4.0 promises to be much faster. However, I dont know how much faster that would be.

Regarding the speed on ur device, those benchmark numbers are in MICROseconds so your device is actually four times faster in reading

[2022-02-04 00:36] Methamane commented on #47
Hey @2shady4u,
Thanks for the update!
I didn't get a chance to do a more in depth testing but from what I'm seeing so far it's working great!

[2022-02-04 18:24] DarkAgeOutlaw commented on #51
It worked! Thank you!

For anyone still having issues, you need to add the `libgodot-cpp.ios.release.arm64.a` file to the frameworks folder inside of Xcode.

[2022-02-05 12:57] 2shady4u commented on #51
That's great news 😄
I'll add a relevant section to the README.md for any future users that run into this problem.

[2022-02-05 12:57] #51 closed

[2022-02-05 12:59] 2shady4u commented on #62
This issue has now been solved with the latest release (3.1)!
Further discussion can be found here: https://github.com/2shady4u/godot-sqlite/issues/51

[2022-02-05 12:59] #62 closed

[2022-02-05 17:32] kb173 commented on #59
Hi! I noticed you already have a branch for the port. What's the state of it, is there any way to help?

For reference, I recently got our Geodot plugin working as a GDExtension: https://github.com/boku-ilen/geodot-plugin/compare/gdextension it's functional (the demos run in 4.0), but still workaround-y at parts.

[2022-02-05 19:29] 2shady4u commented on #59
Hey @kb173,
Everything is more or less working as intended! 😄
Currently, I am waiting for the implementation of the missing `ptr()` and `ptrw()`-methods in **PackedByteArray**s which
are required to read and write BLOB data from the SQLite database.

Due to this I also didn't start with porting the Godot <-> SQLite VFS as it is quite dependent on these methods.

Other than that everything seems to

[2022-02-06 21:50] kb173 commented on #59
Very nice! I just tested it on Linux and it compiles and works too - I just had to add `linux.64.debug = "bin/libgdsqlite.linux.debug.64.so"` to the `gdsqlite.gdextension` definition.

Thanks for your work!

[2022-02-08 12:30] droyd5691 opened #67 "Godot-SQLite Plugin Missing From Asset Library"
Godot 3.3.4 Stable

Recreate: fire up Godot and search for "godot-sqlite" in the asset library tab and plugin is missing.
![godot sqlite missing plugin](https://user-images.githubusercontent.com/92029164/152987272-da285741-09df-4d54-b11a-1b9548cd1fbe.PNG)

[2022-02-08 16:29] #67 closed

[2022-02-08 17:12] droyd5691 opened #68 "HTML5 Project Run In Browser Throws Errors"
**Environment:**
 - OS: Windows 10
 - Godot version: 3.3.4 stable
 - _godot-sqlite_ version: 3.0

**Issue description:**
When I run the project as a HTML5 it throws errors in the developer tools console (see attached screen shots).

I'm expecting the plugin to work as it does when I run the project as a desktop application.

**Steps to reproduce:**
1. Run the project as HTML5

Note: The included m

[2022-02-09 11:58] droyd5691 commented on #67
No need to apologise and thank you for clarifying the issue. Also thank you for making godot-sqlite. It is a great addon.

[2022-02-09 12:32] vanoak opened #69 "iOS: Undefined symbols for architecture arm64:"
**Environment:**
 - OS: macOs 11.6.3 -> iOS 12.5.5 (Xcode 13.2.1)
 - Godot version: 3.4.2
 - _godot-sqlite_ version: 3.0

**Issue description:**
Error in compilation

**Steps to reproduce:**
1. Make a new project
2. Export with version iOS template (project succeeds)
3. Add sqlite plugin; enable it
4. Export again (should not compile returning the error in the title).

**Minimal reproduction proje

[2022-02-09 12:47] 2shady4u commented on #68
Hey @droyd5691!

You'll have to export using the "GDNative" export type as seen here:
![unknown](https://user-images.githubusercontent.com/42484461/153196963-d89387d7-ca2c-4011-8a6a-db40f375f3d7.png)

When using this export type everything works perfectly 🥳

more information: https://docs.godotengine.org/en/stable/tutorials/export/exporting_for_web.html

[2022-02-09 13:40] droyd5691 commented on #68
Thank you so much :-)

[2022-02-09 13:40] #68 closed

[2022-02-09 16:01] 2shady4u commented on #69
Hi @vanoak !

This should be fixed in the latest release (3.1) which you can either get from the Asset Lib or download in this repository's Releases.
Important to note is that you have to explicitly add the godot-cpp static binaries in your XCode project as described here:
https://github.com/2shady4u/godot-sqlite#6-how-to-export-to-ios-using-xcode

https://github.com/2shady4u/godot-sqlite#6-how-to

[2022-02-13 12:29] vanoak commented on #69
HI @2shady4u,

I deleted the 3.0 version and downloaded the 3.1 but the error still occurs. Is there a tmp or .import file that could be on cache?

As a side note, in the source code the armv7 and arm64 static libraries are actually in the wrong folders - the armv7 in the arm64 and vic-versa.  Didn't get to that step of including them on Xcode.

[2022-02-14 17:53] 2shady4u commented on #69
@vanoak Due to an unfortunate copy-paste mistake, the arm64 and armv7 are indeed swapped.

When exporting to arm64 you should include the relevant godot bindings for arm64 (as found in the armv7 due to this mistake).

This older closed issue might be useful for you:

[2022-02-20 00:13] Methamane opened #70 "Unable to open dynamic library in exported project (MacOS)"
Environment:

OS: MacOS 12.0.1 (m1 Mac mini )
Godot version: 3.4.2
godot-sqlite version: 3.1
Issue description:
Unable to run exported project due to the following error in the log: Can't open dynamic library

Steps to reproduce:
Unsure exactly how to reproduce or if I misunderstood how to properly export (or if any specific settings are needed when exporting).
I'm using the OS.get_user_data_dir()

[2022-02-25 01:12] hidemat commented on #29
Hello @2shady4u! Hope you're are doing well. I have a question. If I were to modify the `android_builds.yml` in my fork repository to include `env.Append(CPPDEFINES=['SQLITE_ENABLE_FTS5']) `  how would I do that?

[2022-02-25 21:44] 2shady4u commented on #70
Hi @Methamane !

Seems like the exported game isn't able to open the dynamic library for some reason 🤔
Normally you should be able to export the game in the editor without any issue. Godot should automatically copy the the .dylib to the build-folder (Wherever you set it).

What are you exactly copying to the user/-folder?

Could you also check if the dynamic library is actually present alongside t

[2022-02-25 21:53] 2shady4u commented on #29
Hi @hidemat !

I can't seem to find your fork 😅
I'll look into how to get FTS5 working on Android this weekend and I'll push it to the 'enable-fts5' branch

[2022-02-27 19:16] hidemat commented on #29
Nice! Thanks so much.

Yeah I gave up on my fork, so I deleted it 😅. It was basically the sqleet branch with fts5 enabled, and I was trying to get github to enable fts5. This is not your fault, I make impulsive decisions sometimes :)

[2022-03-04 01:48] vanoak commented on #69
Hi @2shady4u,

I confirm that after changing the files to their correct folder, exporting works without an issue.

Also, my tests were saving a database to the user:// folder, creating a table, inserting data, retrieving the same data. The second time, database already existed so it just inserted another row and retrieved alll data from the table.

Worked without an issue.

Thank you!

[2022-03-04 17:24] 2shady4u commented on #69
Great to hear that it is working 🥳

If there's any other issues, please feel free to open another issue.

[2022-03-04 17:24] #69 closed

[2022-03-19 14:11] 2shady4u commented on #18
Closing this issue because of two main reasons:
- Implementation of GeoPackage is not in this project's current scope or roadmap.
- There's other solutions that successfully implement GeoPackage (as found [here](https://github.com/boku-ilen/geodot-plugin))

Please feel free to open another issue if you have other issues or suggestions that are unrelated to geodata! 😄

[2022-03-19 14:11] #18 closed

[2022-03-19 14:13] 2shady4u commented on #54
Closing this issue because it is not fixable or implementable in this project's plugin.
Any SQLite query should obey the rules as imposed by SQLite itself... and this is not something I can change and/or fix! 😉

[2022-03-19 14:13] #54 closed

[2022-03-22 16:40] 2shady4u opened #71 "Planned incompatible API changes for Godot 4.0"
I've been working on the GDExtension port of this plugin on a separate branch which can be found [here](https://github.com/2shady4u/godot-sqlite/tree/gd-extension)

This issue aims to serve as a compiled list of all planned changes that will (possibly) break backwards compatibility:

- Implementation of #60 as duplicating the query_result yourself is a hassle in most cases and not clear for beginn

[2022-03-22 16:42] 2shady4u commented on #59
Please move any possible discussion about the upcoming port to GDExtension to #71

[2022-03-22 16:42] #59 closed

[2022-03-25 20:56] 2shady4u commented on #71
Hi @Barskt!

The binary files found on that branch are the **old** binary files which do not work with Godot 4.0 :(
I'll try and see if I can set up some Github Actions to auto-build the plugin for the `gd-extension`-branch.

Regarding compiling the plugin yourself; you won't need to compile Godot from scratch, just the correct `godot-cpp`-branch.

[2022-03-25 21:34] Barskt commented on #71
Ah, I see :/
As I don't have much experience with compiling I'll wait eagerly for the auto-builds ;P
Thank you so much for your quick reply and the great work you are doing with this plugin! :)

[2022-03-26 09:44] 2shady4u commented on #71
You can now download the Windows and Linux binaries [here](https://github.com/2shady4u/godot-sqlite/actions/runs/2042541648).
Just clone this repository and place them inside of the `bin/`-folder.

[2022-03-26 11:24] Barskt commented on #71
Thank you so much!
Got the demo to work :)

One note to anyone else who might be interested.
You need to open the gdsqlite.gdextension file and change the name from: libgdsqlite.windows.**debug**.64.dll to libgdsqlite.windows.**release**.64.dll under the [libraries] section.

[2022-03-28 15:45] boruok opened #72 "Reduce binary size"
**Is your feature request related to a problem? Please describe.**

Is here any way to reduce binary size? for example, stripped sqlite binary size is **1.6mb** compared to plugins x11 **4.6mb**.
**Describe the solution you'd like**

It might be useful on platforms where app size is important.

**Describe alternatives you've considered**

(https://www.sqlite.org/footprint.html)
**Additional contex

[2022-03-30 10:59] tokengamedev opened #73 "Move the Open and Close DB logging under verbose mode and more"
**Is your feature request related to a problem? Please describe.**
Move the database open and closed logging under verbose mode

In case of opening a read-only database, there is also a message "READ" is displayed along with the path of the file.
Can this be changed to added a Symbol **R(EADONLY)**in the opening DB message itself.

Current is:
[code]
Suggestion is:
[code]

**Describe the solution

[2022-03-30 16:45] 2shady4u commented on #72
Hi @boruok,
The larger binary size is due to the GDNative interface being part of the binary vs. compiling a binary without any wrapper.

I don't really now if it is possible to reduce the binary size on my end? There might be some compiler flags that succeed in pushing down the size, but I'm not a compiler flag expert.

Out of curiosity, do you have a target application or a personal project that

[2022-03-30 16:50] 2shady4u commented on #73
Hi @tokengamedev,

I agree that the verbosity should be extended with a QUIET mode which stops all console output (except for errors).

In the case of a read-only database the "READ" output that is displayed is a remnant that I did not clean up... :(
Would it be useful if this became an actual feature?

Also, you can change the verbose_mode on the fly = only enable it when you want it

[2022-03-31 03:05] boruok commented on #72
@2shady4u this personal (commercial) project for mobile devices.
So, i've managed to quicktest linux build, decreased libgdsqlite.so size from **4.6mb** to **3.7mb**.
1. change CCFLAGS from -O3 to -Os
2. strip generated binary

I wonder if there is an option to disable unwanted bindings on godot-cpp side...

[2022-03-31 10:29] tokengamedev commented on #73
It would be great to have this as a feature

I understand, but as I looked into the code, and wondered, why other modes were not printing. Anyway, it would make sense to have a small feature as there are scenarios where we have both (Readonly and ReadWrite databases) in the same application/game.

Agreed

[2022-04-01 20:38] gyrcom opened #74 "What happened to fetch_array?"
I am updating my code to new versions of godot and gdsqlite and it broke looking for fetch_array.... is this a feature??

[2022-04-01 23:18] 2shady4u commented on #74
Hi @gyrcom

I'm not really sure what you mean by "fetch_array"? I've never implemented any method with that name in this project.

Are you perhaps confusing my version of `godot-sqlite` with Khairul's old gdsqlite plugin? While both projects have the same goal (making SQLite accessible in Godot), they are totally independent from each other and use different methods and variables.

[2022-04-02 14:12] jgodfrey opened #75 "Any plans (or advice) to create a Raspberry Pi compatible binary?"
**Is your feature request related to a problem? Please describe.**
Not a problem, but I'm seeking a Raspberry Pi compatible binary.

**Describe the solution you'd like**
I'd like to use this project on a Raspberry Pi (alongside the unofficial Raspberry Pi Godot build - https://github.com/hiulit/Unofficial-Godot-Engine-Raspberry-Pi)

**Describe alternatives you've considered**
There isn't another S

[2022-04-02 18:13] 2shady4u commented on #75
Hello @jgodfrey,

Disclaimer: I don't have any experience with using Raspberry PI

On the other hand I don't see why it shouldn't be possible if the correct compiler flags are adopted.
These flags seem to be documented in the Raspberry PI repository that you linked.
I would recommend just trying it actually and seeing what happens.

As this is an issue that is more related to `godot-cpp` itself (a

[2022-04-02 23:11] jgodfrey commented on #75
Thanks for the fast and informative response @2shady4u - much appreciated. I'll poke around a bit based on your advice and see if I can make any progress. I'll report back if I have any news.

[2022-04-03 03:09] gyrcom commented on #74
AH thats got to be it, Similar things with the same name....

[2022-04-05 00:44] Methamane commented on #70
Hi @2shady4u,

No it doesn't look like the "res://addons/godot-sqlite/bin/" folder has an "osx" folder or the libgdsqlite.dylib file.
I'm going to build a Windows laptop soon so I'll test if the exporting work well on a different platform, but I'm not sure if this is a Godot bug or me doing something wrong.

I'm not copying anything into the user folder, I'm using the OS.get_user_data_dir() method

[2022-04-08 19:27] 2shady4u commented on #74
I'm closing this issue as it is not relevant to this repository...

[2022-04-08 19:27] #74 closed

[2022-04-13 01:02] Methamane commented on #70
Hi @2shady4u,

It works without any issues on Windows, I think that the problem is with the export on Mac.
Mac didn't even export a pck when I exported the project (I exported it separately) so it seems to me like a Godot bug.
Just for clarification when I click on export project on the Mac it just exports the executable and nothing else, on Windows it exported the pck and a dll alongside the exec

[2022-04-14 17:42] JuanSantosGomez opened #76 "Fails to execute deletion of foreign key linked entries"
First of all thank you for this wonderful plugin. This is a really great tool and this really opens up a lot of possibilities for beginners such as myself to delve into the nitty gritty stuff of game development. Awesome job! :)

Anyways, here's my little issue:

I've setup two tables with a foreign key field on one table set to `ON CASCADE DELETE` . When executing a delete query from the sqlite b

[2022-04-15 12:54] 2shady4u commented on #76
Hello @JuanSantosGomez

I've done some experimenting myself and it seems that this issue is fixed if you enable fk support by adding following line **before** opening the database:
[code]

Most likely SQLiteStudio enables foreign keys for the database automatically whenever it detects that you are using fk in any of your tables. This is something I could definitely look into automating as well.

[2022-04-15 14:03] 2shady4u commented on #70
I've searched a bit in both the godot and godot-cpp repositories and I've come up with nothing :(

The only issue that might (?) be related is this one:
https://github.com/godotengine/godot-cpp/issues/592

Is it possible to export a project without the Godot-SQLite plugin, such that we can check if the issue goes hand-in-hand with GDNative or if it is just a more general Godot problem?

[2022-04-15 17:22] JuanSantosGomez commented on #76
Oh it works! thanks @2shady4u !

So I tried turning on fk through the query statement before this as well but it didn't work. It's good to know we can do it the way you did it.

It seems like this is an oversight on my part as it seems this is also stated in the documentation on the front page. Apologies for that, and thank you for spending time on this. Have a great weekend! ;)

[2022-04-15 17:22] #76 closed

[2022-04-24 20:50] zenasican commented on #71
First off, amazing job. I tried to install on Alpha 6 but I get:

 E 0:00:00:0815   _register_extension_class: Method/function failed.
  <C++ Source>   core/extension/native_extension.cpp:134 @ _register_extension_class()

Where did I go wrong?

[2022-04-25 08:17] 2shady4u commented on #71
Hi @zenasican !

I've pushed an update to the gdextension that hopefully fixes this issue for alpha 6.
If I may ask, are you encountering this issue on Windows or on Linux?
Feel free to download the newest/latest binary [here](https://github.com/2shady4u/godot-sqlite/actions/runs/2218877233).

Cheers!

[2022-04-25 08:20] zenasican commented on #71
Awesome! I'm running Windows 10 at the moment. I'll try the new update asap.

[2022-04-28 21:15] KirillSerogodsky commented on #71
Alpha 7:
ERROR: Condition "!method" is true. Returning: 0
   at: get_builtin_method_hash (core/variant/variant_call.cpp:1172)
ERROR: Error getting method , hash mismatch.
   at: gdnative_variant_get_ptr_builtin_method (core/extension/gdnative_interface.cpp:475)
godot-cpp from master:
https://github.com/KirillSerogodsky/godot-sqlite/actions/runs/2241829670

[2022-04-29 00:45] Methamane commented on #70
Hey @2shady4u,

Checking "disable library validation" solved the problem!
Didn't test all the features yet but it's creating the database, and reading/writing data.
Thanks for all the help and patience!

[2022-04-29 00:45] #70 closed

[2022-05-01 13:15] 2shady4u commented on #71
Hey @KirillSerogodsky !

I've synced the `godot-cpp` submodule to the correct commit for alpha 7!
Everything should hopefully work again 🤞

[2022-05-02 12:44] atngames commented on #71
Hi,
I might not have well understood how to make it work.
I am on ubuntu linux, did download the latest file.so and putted it in the bin directory
Changed the filename in "gdsqlite.gdextension" to match
got the
```Failed loading resource: res://addons/godot-sqlite/gdsqlite.gdextension. Make sure resources have been imported by opening the project in the editor at least once.``` error
Thank you for

[2022-05-05 14:17] wetbadger opened #78 "query() only executing first statement"
**Environment:**
 - OS: Linux Mint 20.3
 - Godot version: 3.4.2
 - _godot-sqlite_ version:

**Issue description:**
My query has several statements separated by semicolons, but only the first statement runs.
No error is returned in error_message().
Is this expected behavior?

**Steps to reproduce:**
Create a new db.
Create a query with more than 1 statement.
Try to run the query.
Only the first sta

[2022-05-05 14:23] 2shady4u commented on #78
Hi @wetbadger !
This is a duplicate of https://github.com/2shady4u/godot-sqlite/issues/58 😄

Basically only the first statement (= until the first ;) will execute ATM 🤷‍♂️

[2022-05-05 22:32] wetbadger commented on #78
Oops, didn't see that one XD

Using insert_rows() seems to be an acceptable workaround in this case.

[2022-05-07 12:08] 2shady4u commented on #78
In your case this is indeed the recommended work-around for this situation :)

I'm closing this in favor of #58 which predates this issue and discusses the exact same limitation.

[2022-05-07 12:08] #78 closed

[2022-05-09 12:28] 2shady4u commented on #71
Hi @atngames

I've updated to gd-extension to include the correct binary entries for Linux.
Unfortunately, I haven't been able to test the Linux binaries as my virtual Ubuntu does weird things when Godot 4 is opened (= it silently crashes).

I've added some small section in the OP to better describe how to get the Godot 4 version of the plugin working.

[2022-05-26 13:13] bitbrain opened #79 "Schema version capability"
Maybe something that can be solved outside of this plugin, however, I was curious if anybody already solved the issue of creating database schema versioning.

Let us say that I want to create some tables but once these tables are created, I do not want to create them any longer. Much later I want to add another table that should get created once. In Java, there are libraries such as [liquibase](ht

[2022-05-26 19:12] 2shady4u commented on #79
Hi @bitbrain

There seems two relevant options in SQLite that enable you to set the version of your database using following pragma-commands:
https://www.sqlite.org/pragma.html#pragma_user_version
https://www.sqlite.org/pragma.html#pragma_schema_version

Ofc. you would have to implement the necessary logic yourself, either in your SQL-statement or in GDScript.

In your opinion: How would this plug

[2022-05-30 11:50] 2shady4u commented on #33
I'm closing this issue as the default Windows binary included with this plugin is now the MinGW cross-compiled version by default.

[2022-05-30 11:50] #33 closed

[2022-05-30 12:16] 2shady4u commented on #58
This feature request has now been implemented in the latest release (https://github.com/2shady4u/godot-sqlite/releases/tag/v3.2).

I am closing this issue as a result 🙏

[2022-05-30 12:16] #58 closed

[2022-05-30 12:17] 2shady4u commented on #73
I've added a brand-new `verbosity_level`-variable that allows much finer control of this plugin's console logging in the latest release (https://github.com/2shady4u/godot-sqlite/releases/tag/v3.2).

I'm closing this issue as a result of this this release. 🙏

[2022-05-30 12:17] #73 closed

[2022-05-30 18:13] lcatoni72 opened #80 "Can't open database: unable to open database file FROM ANDROID DEVICE"
[code]

Hi,
I'm having this issue executing code on my phisical android device form godot v 3.4.4.4
No issues playing on windows from Godot environment, all it works perfectly
Can someone help me ?
Thanks.

[code]

[2022-05-30 20:51] 2shady4u commented on #80
Hi @lcatoni72!

You can't create nor edit databases in the `res://`-folder on Android.
This is restriction of Android and not something fixable by this plugin, as discussed here:
https://github.com/2shady4u/godot-sqlite#4-my-androidioshtml5-application-cannot-access-the-database

Your options are:
- When your application starts, copy the database file to the user://-folder. See the implementation

[2022-05-30 21:23] lcatoni72 commented on #80
Great,
I used first solution with copy_data_to_user() function !!
It works,
thanks !!!

[2022-05-31 08:53] bitbrain commented on #79
[This thread contains some good examples](https://stackoverflow.com/a/1058553) on how to facilitate the user version for this purpose.

One way I could see this working is a "migration" directory (e.g. `res://sqlite`) in which files are stored in the format `<number`__anynamehere.sql` that contain these migrations. Then, this plugin scans all SQL files and applies the versions it needs to apply to

[2022-05-31 17:29] 2shady4u commented on #79
I'm still confused if, according to you, this is something that has to be implemented on the C++ or the GDscript side?

[2022-06-01 12:27] #79 closed

[2022-06-02 08:54] 2shady4u commented on #79
@bitbrain please tell me if you make such a thing :D I would love to see it

[2022-06-02 13:47] Koyper commented on #29
I have been using a custom build of godot-sqlite (many thanks for creating this essential tool!) with the fts5 enabled for at least a year and it's perfectly stable. It's also enabled by default in the SQLite official amalgamation configure script, so I think it would be reasonble to enable fts5 by default in godot-sqlite in the master branch? I think the only downsize is the extra binary size but

[2022-06-02 14:11] Koyper opened #81 "Add get_query_result(duplicate := true) method or other solution to not duplicate query_result"
**Is your feature request related to a problem? Please describe.**
The new modification that duplicates query_result will reduce performance for certain queries that return a lot of data. On a table with about 1000 rows with some binary data, there is about a 10-15% increase in query time compared to the last version without the duplicate (a non-rigorous test).

**Describe the solution you'd like*

[2022-06-02 16:36] Koyper commented on #81
Hi @2shady4u

While using something like the `auto_duplicate_result` parameter would work, the GDScript becomes a bit clumsy because you would typically bookend the query_result call with setting the parameter to false, then back to true.

One idea would be to have a one-shot parameter like `skip_next_result_duplicate` this:
[code]

The other idea is going back to having a new, separate method lik

[2022-06-02 19:57] tokengamedev commented on #73
Thanks a lot @2shady4u. I will check out the changes sometime soon.  Also thanks for updating the sqlite db code too, although not mentioned in the release notes.  appreciate the hard work.

[2022-06-02 20:06] 2shady4u commented on #81
Another proposal (the one I'm currently most happy about) is to add another property that has the `get_unduplicated_query_result` as its setter, as such:

[code]

I don't like the one-shot implementation of the proposed `skip_next_result_duplicate`-property as all user-variables should, preferably, only be modified by the user themselves.

[2022-06-02 23:18] Koyper commented on #81
Yes! This is a good solution and solves the issue - much better than the one-shot idea. Nice and tidy.

The only refinement I would consider is a matter of semantics, i.e., naming the new property `unduplicated_query_result` because it implies that `query_result` is duplicated, whereas `raw` gives no hint about what the "unraw" version is doing.  Perhaps `query_result_reference` is more descriptiv

[2022-06-04 16:39] 2shady4u commented on #81
Hi @Koyper

I've implemented the requested change in commit 524e67a5cca2e999a2ef28588a4c697eef6af724
Feel free to give any feedback regarding the committed implementation.

I'm leaving this issue open until v3.3 is released.

[2022-06-06 19:04] andersmmg opened #82 "Should reads be mutexed?"
I update the database in a thread sometimes, so it's mutexed when I need to write to it. Currently, I don't lock the mutex when I'm just reading data, but should I? I can't seem to find a lot of documentation on this. Thanks!

[2022-06-06 20:17] 2shady4u commented on #82
Hello @andersmmg

According to [this](https://www.sqlite.org/threadsafe.html) article, the SQLite database is thread-safe if the plugin is compiled with either:
[code]
or:
[code]

I don't supply this compiler parameter and thus the default value applies which is 1 (= Serialized, which allows full multi-threading without restrictions) 🥳

[2022-06-10 08:10] 2shady4u commented on #82
Closing this issue as it has been resolved.

Feel free to open a new issue if you encounter any new and exotic problems 🙏

[2022-06-10 08:10] #82 closed

[2022-06-16 18:32] Koyper commented on #81
Hi @2shady4u

Thank you so much for this!

I wanted to add that I agree with your decision to make the default behavior as duplicate. When first working with the plugin, that bug of overwriting the prior query while still working with the previous result would be a real hair-puller.

[2022-06-17 19:15] 2shady4u commented on #81
This has now been implemented in the latest release! 🙏

Closing this issue as a result!

[2022-06-17 19:15] #81 closed

[2022-07-13 11:40] Cryptoclysm opened #83 "Verbosity Levels not working in Linux"
**Environment:**
 - OS: Linux - Debian 11
 - Godot version: 3.4.2 Mono
 - _godot-sqlite_ version: 3.3

**Issue description:**
Database opens and database closes still log, even when `db.verbosity_level=0` (Quiet) is set.

The same code that runs on Windows without logging will still have logging occur on Linux.

[code]

**Steps to reproduce:**

[code]

**Minimal reproduction project:**

(Can creat

[2022-07-17 14:40] 2shady4u commented on #83
Hi @Cryptoclysm,

I can't seem to replicate this bug :/
I'm running the supplied code on Ubuntu 20.04 with Godot 3.4.4 and get the expected result.
I currently don't really have the capability to easily test a mono build of Godot with the supplied code.

Some questions:
- Would it be possible to run the same code (as given in your steps) on a non-mono version of the engine?
- If you are using mono

[2022-07-18 09:39] Cryptoclysm commented on #83
Hi @2shady4u  Thanks for looking into this.

I've resolved the issue: When deploying to a Godot server binary, usually only the PCK file is updated, and so I was still running an old version of Godot SQLite without realising it.
Updating the the libgdsqlite.so file to the latest version next to the binary resolved the issue.

Thank you for your great work on this library!

[2022-07-18 09:39] #83 closed

[2022-07-30 08:40] MyQ-TeK opened #84 "Unable to open database in android 10 [chinese tablet, unisoc sc9863a]"
I have followed your instructions, but for some reason it will create the db on first run but it is empty, and adb logcat shows that it cannot access database, but it has created it. even demo is the same. What Am I missing here ? I can replace the db with a populated one easily enough and can read it with sqlite explorer on pc fine, but android does not show the app dir in the /data/data/ ie the

[2022-08-01 13:56] 2shady4u commented on #84
Hi @MyQ-TeK!

Some questions:
- Where are you creating your database? (in the user:// or in the res://-folder?)
- When saying "even demo is the same"; do you mean that you tested the demo-project on your tablet and it also failed?
- If yes, what error messages do you get?

I'm gonna need some more information to figure this one out I think 😅

[2022-08-02 07:27] MyQ-TeK commented on #84
Thanks for your reply, I have been working with godot for about 6 months, but I am not using it for a game. I am trying to use it to make a UI control for an ubuntu server to control user settings for recording sessions to automate a digital audio studio using a tablet as the terminal. I have learned what I know about godot by resolving each problem one at a time. So I would be a noob with a coupl

[2022-08-02 12:58] 2shady4u commented on #84
I require the following information to help you 😄 :
- What is the database-path that you use in your Godot code? (db.path = ???)
- Are you creating your database using read-only permissions or are you using read-write permissions? (What is the value of db.read_only?)

Would also be easy for me if you share the relevant part of project's code.

[2022-08-02 13:07] MyQ-TeK commented on #84
OK, ThanX,
1] I use user://SMstudio.db As path not rec://
2] I am not setting db.read_only anywhere, was not aware.
3] I will post relevant code A.S.A.P, not at my work computer at the mo
ThanX

[2022-08-18 07:19] Cryptoclysm opened #86 "Verbosity level QUIET isn't really quiet"
**Environment:**
 - OS: Linux - Debian 11 (Applies to all platforms)
 - Godot version: 3.4.2 Mono
 - _godot-sqlite_ version: 3.3

**Issue description:**

As it stands, the `query_with_bindings` method will still print error messages, even when 'QUIET' is enabled. This is a problem, because there is no way to detect database locked without generating an error message that gets logged to the Godot c

[2022-08-18 08:42] 2shady4u commented on #86
Hello @Cryptoclysm

I don't think hiding ALL the errors when setting the verbosity_level is QUIET is a good choice as errors should be shown regarding of the verbosity's level.

Another option would be to only show 'critical' errors by checking the error code (SQLITE_CORRUPT would always be printed, while SQLITE_LOCKED would only result in a print if the verbosity_level is higher than QUIET)

If I

[2022-08-18 21:02] Cryptoclysm commented on #86
My use case here is that I am reading from an SQLite database that is written to by another application. The other application completes Web Requests and writes them to the SQLite database. So on occasion, the Godot application will encounter a locked database, and have to wait to retry again when it's no longer locked.

So it would be very useful in my case to be able to omit the log message for

[2022-08-23 19:42] Loxtir opened #87 "gd-extension: Error retrieving accented characters"
**Environment:**
 - OS: Windows
 - Godot version: 4.0 alpha 14
 - _godot-sqlite_ version: gd-extension, latest bin from github actions

**Issue description:**
 Accented characters are not retrieved correctly from the database. This worked fine on Godot 3.X

**Steps to reproduce:**

[code]
Expected this to print "ÁéÍóÚ", got "ÃÃ©ÃÃ³Ã" instead. Inspecting the database with DBBrowser shows the valu

[2022-08-24 10:36] 2shady4u commented on #87
Hello @Loxtir

I would expect this to be an issue related to Godot 4.0 itself, but I'm not sure?
I'll do some research and I'll get back to this...

[2022-08-24 16:15] 2shady4u commented on #87
https://github.com/godotengine/godot-cpp/issues/784 might be related?

[2022-08-24 16:41] Loxtir commented on #87
So if I understand correctly, if I compile the plugin on my own converting to String::utf8 on this line [https://github.com/2shady4u/godot-sqlite/blob/gd-extension/src/gdsqlite.cpp#L291](url) , it should work?

[2022-08-24 16:54] 2shady4u commented on #87
You can definitely leave this open until we figure out the cause of this issue 😄
I'm currently quite busy with other things so this might take a while...
My apologies for that 🙇

[2022-08-27 16:47] Loxtir commented on #87
So in case it helps someone, undoing [this change](https://github.com/godotengine/godot-cpp/commit/bf8fc4c53d07cf8ac4d8343364899c197076fbc2#diff-20a0dfd8072691f654c12adb6aecabee9d3247fb99488b37539dab1d967c97b8L77-L79) and compiling godot-cpp and the plugin myself fixes the issue.

[2022-09-01 07:58] Cryptoclysm commented on #86
@2shady4u I've been thinking about this issue more recently. I think the real solution to my issue would be to have access to the [busy_timout](https://www.sqlite.org/pragma.html#pragma_busy_timeout) variable in SQLite.

That way concurrent database access is possible without triggering a SQLITE_LOCKED exception at all. It would also allow [Litestream](https://litestream.io/) to be used for live r

[2022-09-01 08:10] 2shady4u commented on #86
Hi @Cryptoclysm,

I've been extremely busy lately with stuff happening in the real world so I haven't had the chance yet to ponder about the correct way to implement your request.
You should already have access to the busy_timeout variable by querying the following pragma:
[code]

However, I fail to see how increasing the busy_timeout fixes the issue?
If I'm correct, the chance of the issue happen

[2022-09-01 08:23] Cryptoclysm commented on #86
You're correct - this won't fix the issue completely, but will reduce the chance of it happening dramatically.
Thanks for the info on accessing busy_timeout.
Please do take your time, I appreciate your work on this library massively, it's great that Godot can be so capable without ever leaving gd script!

[2022-09-02 14:44] Cryptoclysm opened #88 "Memory Leak on open_db(), close_db()"
**Environment:**
 - OS: Windows 10, Debian 11
 - Godot version: 3.5
 - _godot-sqlite_ version: 3.3

**Issue description:**
Static memory usage goes up permanently after using
[code]
![image](https://user-images.githubusercontent.com/8625631/188171969-2c80efe2-d290-4f56-befa-c2911b8cb623.png)

I estimate that each pair of calls generates around 90 Bytes of leaked memory.

This is a major problem fo

[2022-09-02 15:47] 2shady4u commented on #88
Hi @Cryptoclysm,

This seems to be the culprit:
[code]

This method allocates memory on the heap so it doesn't get cleared when the stack pops...

[2022-09-02 15:54] 2shady4u commented on #88
Changing the following code:
[code]
to:
[code]

Fixes the memory leakage 🥳

[2022-09-02 16:30] Cryptoclysm commented on #88
@2shady4u Great find! I've applied the patch and rebuilt locally.
![image](https://user-images.githubusercontent.com/8625631/188197970-71387053-b6d8-46db-b19d-1a582e5e2f36.png)
The line is looking as flat as it gets now!

I've not had a look into any other functions, but this fix will save a lot of leaked memory since it's within db_open().

[2022-09-02 16:32] 2shady4u commented on #88
Hi @Cryptoclysm,

I'll try to release a new build at some point that fixes the issue... (hopefully soonish)

[2022-09-03 11:32] MehLoon opened #89 "database.db isnt in game file"
**Environment:**
 - OS: windows
 - Godot version:  3.5
 - _godot-sqlite_ version:  3.3
**Issue description:**
 when i export my game the database.db isnt in the game file itself and its producing problems, it just creates a database.db in the same directory as the game.... any way to fix this? otherwise ppl can see the rows in the database

**Steps to reproduce:**
 exporting the project

**Minimal

[2022-09-03 13:42] 2shady4u commented on #89
Hello @MehLoon,

The answer to your question depends on if you are working with a **read-only** or with a **read-write** database.
Here are the relevant sections from the documentation:

Hopefully this helps?

[2022-09-04 12:58] 2shady4u commented on #88
Hi @Cryptoclysm,

I'm having some major issues with GDNative's implementation of the `Godot::print()` and `String()`-methods which seem to overwrite my char* variables.

I've opened an issue here:
https://github.com/godotengine/godot-cpp/issues/829

[2022-09-04 13:18] Cryptoclysm commented on #88
Hi @2shady4u,

Thanks for the update, looks like we've opened a can of worms. If it's an issue on Godot's side, then I'd assume the fix would not be compatible with older versions of Godot. Would the workaround mentioned in [https://github.com/godotengine/godot/issues/40957](https://github.com/godotengine/godot/issues/40957) be appropriate in this case?

[2022-09-04 13:26] 2shady4u commented on #88
Yeah, I just have to add `godot::api->godot_free((void *)my_char_ptr);` everywhere... 🤓
(Or I can slap some `goto` on there, but let's not go that way!)

[2022-09-04 13:46] 2shady4u commented on #88
I'll push some fixes on the new fix-memory-leakage-branch (as found [here](https://github.com/2shady4u/godot-sqlite/tree/fix-memory-leakage)).

[2022-09-04 16:05] Cryptoclysm commented on #88
@2shady4u  Thanks, I've compiled the branch on Windows and it's looking good for me too. I can't seem to get the .so file to compile for linux for some reason - it's only generating a dll. I'll have another go next week.

[2022-09-09 05:29] lightyears1998 commented on #87
I encountered a similar issue. By changing [this line in gdsqlite.cpp](https://github.com/2shady4u/godot-sqlite/blob/70646d844e24015c458c90874986b7c46de1dfe2/src/gdsqlite.cpp#L290) to `column_value = Variant((String::utf8((char *)sqlite3_column_text(stmt, i))));` and compiling the plugin fix the issue for me.

[2022-09-09 07:53] 2shady4u commented on #87
Thanks for finding and reporting this! 😄 I'll look into it as soon as I have some time

[2022-09-11 17:58] 2shady4u commented on #87
@lightyears1998 I've seen that you fixed the error on your fork 👀

Is it working correctly on your end?
If yes, would you be willing to open a pull request with your fix? 😅

[2022-09-12 01:25] lightyears1998 commented on #87
It is working correctly on my side. However, I had only tested it for unicode column value. I'd like to do some more additional tests before submitting my PR. It may take a while. 😁

[2022-09-16 12:17] 2shady4u commented on #87
This has now been fixed by #90!

[2022-09-16 12:17] #87 closed

[2022-09-16 12:20] 2shady4u commented on #89
Hello @MehLoon,

Is there any update on this issue?

[2022-09-16 12:54] 2shady4u commented on #88
Hi @Cryptoclysm,

I've merged the `fix-memory-leakage`-branch into the `master`-branch.
I'll close this issue when I'll do a new release.

[2022-09-16 13:06] 2shady4u commented on #84
Hello @MyQ-TeK,

Is there any update on this issue?

[2022-09-20 07:05] git2013vb opened #92 "Help about create table"
I opened this issue by mistake because I found the solution after a while. you can delete it :)
Thanks

[2022-09-20 08:27] #92 closed

[2022-09-20 08:28] git2013vb commented on #92
I can use `query()` method to create a table

[2022-10-02 12:22] 2shady4u commented on #89
Closed #89 due to inactivity

[2022-10-02 12:22] #89 closed

[2022-10-02 12:22] 2shady4u commented on #84
Closed #84 due to inactivity

[2022-10-02 12:22] #84 closed

[2022-10-02 12:24] 2shady4u commented on #47
Closed #47 due to inactivity

[2022-10-02 12:24] #47 closed

[2022-10-08 16:24] 2shady4u commented on #88
The fix of this issue has now been published in release v3.4! 🥳

[2022-10-08 16:24] #88 closed

[2022-10-08 16:29] 2shady4u opened #93 "Add additional functionalities for in-memory shared databases"
Thanks to @cridenour the plugin now supports in-memory shared databases (see [here](https://www.sqlite.org/inmemorydb.html)).

There are however some missing functionalities that could be worth implementing:
- Addition of so-called "named" in-memory shared databases which are necessary when you want multiple distinct in-memory shared databases.
- Allowing shared in-memory databases to be opened in

[2022-10-11 05:12] engineer-pearl opened #94 "Get Godot Editor to recognize SQLite as a class"
**Is your feature request related to a problem? Please describe.**

As I am developing, I often use the built-in help tools such as autocomplete and help text to make sure I am calling the right functions. For this plugin, Godot does not recognize the class, which means I am more likely to mistype functions and need to keep the github documentation up in order to read it.

**Describe the solution

[2022-10-11 16:56] Dfred opened #95 "[godot4, linux] add debug build to github actions for gd-extension branch"
**Is your feature request related to a problem? Please describe.**

1. README.md of the master branch has a convenient link to the gd-extension branch for Godot4 projects, but the branch's README.md **_How to install?_** part is mostly obsolete information for the gd-extension branch. I suggest removing it and replacing it with a link to #71 for now.

1. After following instructions found in that

[2022-10-11 17:56] GrammAcc opened #96 "Support Single and Multi-Column Indexes and Arbitrary Constraints."
**Is your feature request related to a problem? Please describe.**

godot-sqlite currently only has support for single-column Foreign Key constraints, but a couple of extremely common optimizations in sql databases are Unique constraints and column Indexes, both on single and multiple columns.

Simple database schemas may work for game saves, but json is a better format for game saves anyway since

[2022-10-12 07:08] 2shady4u commented on #94
Hi @engineer-pearl!

I've wanted to implement this for a long time, but there currently isn't any support for implementing this in a straight-forward manner in GDNative (Godot 3.X). Fortunately this is now being natively supported by GDExtension (Godot 4.X).

Thus to summarize:

## Current version of the plugin (GDNative, Godot 3.5.1)
Documentation is not natively supported so the only way to impl

[2022-10-12 07:09] 2shady4u commented on #95
Hi @Dfred,

This is planned to be implemented at some point! :slightly_smiling_face:

[2022-10-12 07:18] 2shady4u commented on #96
Hi @GrammAcc!

Am I correct in stating that the so-called `Single column version` is already supported and that this issue solely pertains itself to the `Multi-column version`?

[2022-10-12 13:37] GrammAcc commented on #96
Thank you for your quick reply!

This issue pertains to both the single and multi-column versions of Indexes and Constraints.

As far as I can tell from the documentation and experimenting with the API myself (I haven't delved into the C++ source), single-column Primary and Foreign keys are supported, but the multi-column versions are not, and neither single nor multi-column versions of other cons

[2022-10-13 07:21] 2shady4u commented on #94
I haven't started on the documentation of the Godot 4.0 as I've been mostly busy making the new plugin feature complete.
Also there might be some non-backwards compatibility stuff that I'll introduce (if there's time) to make the plugin a bit more stream-lined.

Currently most of the current documentation (as found in the `README.md`) is still relevant even for the GDExtension version of this plug

[2022-10-13 17:05] engineer-pearl commented on #94
Okay. I will build the documentation primarily off of that then.

[2022-10-14 04:53] engineer-pearl commented on #94
I have created pull request #97 to add the desired features.

For the GitHub algorithm:

Fixed #97

[2022-10-27 07:55] Dfred commented on #95
feel free to have a look to my fork if you'd like to see how easy this can be done ;-)

[2022-10-29 17:06] 2shady4u commented on #95
This has now finally been implemented 🥳

@Dfred I checked out how you did it in your fork, but I decided against duplicating the `build.yml` and decided to make use of a workflow matrix instead.

[2022-10-29 17:06] #95 closed

[2022-10-29 17:23] Dfred commented on #95
@2shady4u thanks for implementing the better approach!

[2022-10-30 14:22] Dfred opened #102 "[gd-extension] windows release version is linked with debug version of VC++ libraries"
I searched for a similar issue and preferred not to continue discussion #71 as the current issue described hereafter should be temporary.

**Environment:**
 - OS: Windows
 - Godot version: 4
 - _godot-sqlite_ version: gd-extension latest Artifact

**Issue description:**
Currently it is impossible to load the release version of the extension built by Github Actions; even after installation of MSVC

[2022-10-30 22:11] zbyna opened #103 "Question - c#"
May be clear from the nature of this project ( GDNative), but I am beginner so let me please to ask :slightly_smiling_face:  .
Does this plugin work with c# in Godot mono version ?
Thanks.

[2022-10-31 06:27] 2shady4u commented on #103
Hi @zbyna,

It is possible to use this plugin in Godot mono, but it's imo not a good idea.

Instead, I would recommend that you use the SQLite functionalities that are natively available in C# (https://zetcode.com/csharp/sqlite/).

[2022-10-31 17:23] zbyna commented on #103
Thanks for tips!  I will try both ways and choose one with less Android and HTML5 export problems.  I thought that gdnative plugin would generace less problems during export to various platform but it seems as bad assumption 🙂

[2022-11-02 21:21] #103 closed

[2022-11-07 15:59] GrammAcc commented on #96
Hi @2shady4u,

I have switched from godot-sqlite to a custom implementation of a document-based NoSQL database for my current project as it gives me more flexibility in the schema design during development.

I may switch back to SQL once I'm further along in development and don't need as much flexibility, but I wanted to give you a heads up that this issue no longer pertains to my specific use cas

[2022-11-14 21:03] feefladder opened #105 "Disk io errors on non-readonly databases in html5 export"
**Environment:**
 - OS: Pop (Ubuntu 22.04)
 - Godot version: 3.5
 - _godot-sqlite_ version: 3.4

**Issue description:**
I get disk io errors. Not sure why.... Any help to debug would also be appreciated. For now, I think I'll reproduce the schema I was trying to implement with resources only.

![image](https://user-images.githubusercontent.com/33122845/201762939-76dd8b36-347b-45d4-8b3a-bd897f4759e

[2022-11-14 21:16] feefladder opened #106 "Allow for resource-sqlite conversions"
**Is your feature request related to a problem? Please describe.**

Editing a database by hand is cumbersome for people that may want to work on my project, and therefore I put all my data in `.tres` resource files. I am now thinking of moving to SqLite. However, to do this manually costs a lot of work and I have already made a nice, well-thought of data structure with the resource files.

**Descr

[2022-11-16 08:11] 2shady4u commented on #105
Hi @feefladder,

The supplied demo-project works perfectly on my end 🤔
(Windows 11 & Firefox)
I will look into this as soon as possible.

Greetings,
2shady4u

[2022-11-16 10:48] feefladder commented on #105
Also the demo_html?

[2022-11-16 10:49] feefladder commented on #105
because I just tried on windows and there had the same error... Maybe something with how I do the export....

[2022-11-16 12:34] feefladder commented on #105
https://stackoverflow.com/a/53271447/14681457 seems to say that the journal file is not writeable...

[2022-11-17 08:10] 2shady4u commented on #105
Hello, I can confirm that I have the exact same issue when running the supplied `demo_html.zip`.
I'll check it out once I have more time (hopefully this weekend?)

[2022-11-17 13:18] feefladder commented on #105
I verified that it also does not work on windows Godot 3.5.1 export (I even had other errors when running from the html5 button in the topright corner). However, on Linux Godot 3.4.stable it *is* working!

Windows export (not working):
[win4.zip](https://github.com/2shady4u/godot-sqlite/files/10031828/win4.zip)
Linux 3.4 export (working):
[lin3.4.zip](https://github.com/2shady4u/godot-sqlite/files

[2022-11-19 15:25] 2shady4u commented on #102
Hi @Dfred!

Has this now been resolved by the implementation of https://github.com/godotengine/godot-cpp/pull/908?
Or is there still an issue that needs to be resolved?

[2022-11-19 16:27] 2shady4u commented on #105
Hi @feefladder!

This has now been fixed in 1581cc6d30ca34cb26f34e904b3657b990de1188! 🥳
The issue was that the EMScripten version I used for javascript compilation was out-of-date with regards to the version used by the official Godot executables and export templates.

I'll do a new release at some point (v3.5) which addresses/fixes this issue on the Godot assetlib.
For now you can download and re

[2022-11-21 21:38] Dfred commented on #102
Hi @2shady4u, thanks for following this up!

Unfortunately the issue remains the same, at least with the latest artifact built for beta5: `ldd` produces the exact same output.
As mentioned in [godotengine #906](https://github.com/godotengine/godot-cpp/issues/906), I had tried various toolchains and found LLVM to best solve my issue, although I didn't explore all MSVC possibilities.

On a side note

[2022-11-21 21:54] Dfred commented on #102
I believe that issue will remain with the current build system until the `/MDd` flag in [actions' build logs](https://github.com/2shady4u/godot-sqlite/actions/runs/3507432101/jobs/5875131811) becomes `/MD`. For further info, see [this page on MSVC compiler options](https://learn.microsoft.com/en-us/cpp/build/reference/md-mt-ld-use-run-time-library?view=msvc-170)
Also, if the issue remains, it look

[2022-11-22 06:09] 2shady4u commented on #102
Easiest fix from my end would be to add the windows crosscompilation build, using MinGW, to actions.

I'll try to implement that.